
# prediccion de incidentes viales en la ciudad de Medellin

## importacion librerias necesarias

In [1]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

## lectura y exploracion de los datos

In [2]:
#lectura dataframe saltando las filas malas
df=pd.read_csv("incidentes_viales.csv",on_bad_lines='skip',index_col=False,sep=";",encoding="UTF-8")
print(df.head())

    AÑO  CBML CLASE_ACCIDENTE      DIRECCION       DIRECCION ENCASILLADA  \
0  2015  1013  Caida Ocupante    CR 46 CL 43    CR  046   043  000 00000
1  2015  1020          Choque  CR 43 A CL 29  CR  043 A   029  000 00000
2  2015  0205            Otro    CR 46 CL 37    CR  046   037  000 00000
3  2015  0101       Atropello   CR 34 CL 112    CR  034   112  000 00000
4  2015  1504          Choque    CR 50 CL 14    CR  050   014  000 00000

         DISEÑO  EXPEDIENTE      FECHA_ACCIDENTE          FECHA_ACCIDENTES  \
0  Tramo de via  A000259731  21/10/2015 05:58:00  2015-10-21T10:58:00.000Z
1  Tramo de via  A000261725  05/11/2015 03:00:00  2015-11-05T08:00:00.000Z
2  Tramo de via  A000259739  21/10/2015 07:40:00  2015-10-21T12:40:00.000Z
3  Tramo de via  A000259752  21/10/2015 12:00:00  2015-10-21T17:00:00.000Z
4  Tramo de via  A000259949  03/11/2015 06:16:00  2015-11-03T11:16:00.000Z

  GRAVEDAD_ACCIDENTE  MES NRO_RADICADO NUMCOMUNA                     BARRIO  \
0        Con heridos   10      1508668        10               Barrio Colón
1         Solo daños   11      1510621        10                  San Diego
2        Con heridos   10      1508691        02                 La Francia
3        Con heridos   10      1508694        01  Santo Domingo Savio No. 1
4         Solo daños   11      1510634        15                   Santa Fé

          COMUNA                         LOCATION          X           Y
0  La Candelaria  [-75.5688011014, 6.24312304123]  834949.69  1182357.34
1  La Candelaria  [-75.5693883283, 6.22870030622]  834880.17  1180762.02
2     Santa Cruz  [-75.5503911403, 6.29869502502]  837004.94  1188499.17
3        Popular  [-75.5442195069, 6.30019383306]  837688.53  1188663.05
4       Guayabal   [-75.578180998, 6.21699243701]  833903.11  1179469.60

C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (0,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
#revisamos las columnas
print(df.columns)
print("numero de columnas iniciales ",len(df.columns))
print("numero de filas iniciales ",df.shape[0])

Index(['AÑO', 'CBML', 'CLASE_ACCIDENTE', 'DIRECCION', 'DIRECCION ENCASILLADA',
       'DISEÑO', 'EXPEDIENTE', 'FECHA_ACCIDENTE', 'FECHA_ACCIDENTES',
       'GRAVEDAD_ACCIDENTE', 'MES', 'NRO_RADICADO', 'NUMCOMUNA', 'BARRIO',
       'COMUNA', 'LOCATION', 'X', 'Y'],
      dtype='object')
numero de columnas iniciales  18
numero de filas iniciales  270765

## limpieza de datos

In [4]:
#eliminacion de datos con nulos
df.dropna(inplace=True)
#eliminar datos duplicados
df.drop_duplicates(inplace=True)
print(df.shape[0])

250686

In [5]:
#AÑO-Año de ocurrencia del incidente
df["AÑO"]=df["AÑO"].apply(lambda x : re.findall(r"[0-9]{4}",str(x))[0])
print(df["AÑO"].unique())

['2015' '2014' '2016' '2017' '2018' '2019' '2020']

In [6]:
#CBML-Codigo catastral que corresponde al codigo comuna, barrio, manzana, lote catastral de un predio.
print(len(df["CBML"].unique()))

521

In [7]:
#CLASE_ACCIDENTE-Clasificación del IPAT sobre la clase de accidente de transito: choque, atropello, volcamiento,
#caida de ocupante, incendio, u otro (que no corresponde a las anteriores 5 clasificaciones, p. ej: sumersión)
df["CLASE_ACCIDENTE"]=df["CLASE_ACCIDENTE"].apply(lambda x : str(x).replace("Caída de Ocupante","Caida Ocupante").lower())
print((df["CLASE_ACCIDENTE"].unique()))

['caida ocupante' 'choque' 'otro' 'atropello' 'volcamiento' 'incendio']

In [8]:
#DIRECCION-Dirección donde ocurrió el incidente
##aparentemente se encuentra ya formateada
print((df["DIRECCION"].sample(10)))

237603      CR 64 C CL 78
175596        CR 49 CL 79
265579     CR 42 C CL 104
192544        CL 18 CR 97
3751      CR 49 CL 11 Sur
11041       CL 31 A CR 79
113156      CL 24 CR 43 G
261090        CR 44 CL 69
64908       CR 68 CL 48 D
60059        CR 80 CL 107
Name: DIRECCION, dtype: object

In [9]:
#DIRECCION ENCASILLADA-	Dirección encasillada que entrega el geocodificador
##aparentemente se encuentra ya formateada
##variable con poca informacion util dada la variable anterior--escoger una de las 2
print((df["DIRECCION ENCASILLADA"].sample(10)))

157796      CR  120   039 F  000 00000
101166        CR  065   067  000 00000
223300        CL  009   041  000 00000
93813       CL  048 EE  099  000 00000
69100       CL  064   094 C  000 00000
177666        CR  023   038  000 00000
125582      CR  046   070 A  000 00000
152292      CL  104   043 B  000 00000
79429       CR  045   049 A  000 00000
124142    CL  047 A   098 A  000 00000
Name: DIRECCION ENCASILLADA, dtype: object

In [10]:
#DISENO-Sitio de la vía donde ocurrió el accidente: Cicloruta, Glorieta, Interseccion, Lote o Predio, Paso a Nivel, Paso Elevado,
#Paso Inferior, Pontón, Puente, Tramo de via, Tunel, Via peatonal
df["DISEÑO"]=df["DISEÑO"].apply(lambda x : str(x).replace("Pont\\xF3n","Pontón").lower())
print((df["DISEÑO"].unique()))

['tramo de via' 'interseccion' 'glorieta' 'lote o predio' 'paso a nivel'
 'puente' 'paso elevado' 'ciclo ruta' 'paso inferior' 'via peatonal'
 'pontón' 'tunel']

In [11]:
#EXPEDIENTE
#Consecutivo que asigna UNE, según el orden de llegada de los expedientes para su diligenciamiento
##variable  aprarentemente con poco valor
print((df["EXPEDIENTE"].sample(10)))

149648    A000381410
169556    A001066092
152220    A000671000
107107    A000112385
156778    A000915768
169095    A001064724
50934     A000772878
227844    A000261407
7112      A000588928
113727    A000311039
Name: EXPEDIENTE, dtype: object

In [12]:
#FECHA_ACCIDENTE
#Fecha del accidente, proviene del IPAT - Informe Policial de accidente de Tránsito
df["FECHA_ACCIDENTE"] = pd.to_datetime(df["FECHA_ACCIDENTE"],dayfirst=True)
print((df["FECHA_ACCIDENTE"].sample(10)))

50315    2015-08-08 10:20:00
213642   2015-09-27 12:20:00
64167    2020-01-19 03:31:00
975      2014-10-04 20:30:00
22682    2018-12-10 12:00:00
197487   2017-03-01 21:10:00
173798   2019-12-29 15:30:00
118189   2016-06-07 11:30:00
223762   2016-11-12 22:30:00
50653    2015-07-31 09:40:00
Name: FECHA_ACCIDENTE, dtype: datetime64[ns]

In [13]:
#FECHA_ACCIDENTES
#Fecha de los accidente (formato YYYY-MM-DD hh:mi:ss), proviene del IPAT - Informe Policial de accidentes de Tránsito
##veriable redundante con la anterior
print((df["FECHA_ACCIDENTES"].head(10)))

0    2015-10-21T10:58:00.000Z
1    2015-11-05T08:00:00.000Z
2    2015-10-21T12:40:00.000Z
3    2015-10-21T17:00:00.000Z
4    2015-11-03T11:16:00.000Z
5    2015-11-05T09:30:00.000Z
6    2015-10-18T09:40:00.000Z
7    2015-11-04T09:46:00.000Z
8    2015-10-21T12:00:00.000Z
9    2015-11-05T12:00:00.000Z
Name: FECHA_ACCIDENTES, dtype: object

In [14]:
#GRAVEDAD_ACCIDENTE
#Clasificación del IPAT - Informe Policial de Accidentes de Tránsito, sobre la gravedad del accidente, corresponde al resultado 
#más grave presentado en el accidente. Daños materiales "Sólo daños", accidente con heridos "Herido", accidente con muertos 
#"Muerto". No indica cantidad
df["GRAVEDAD_ACCIDENTE"]=df["GRAVEDAD_ACCIDENTE"].apply(lambda x : str(x).replace("Solo da\\xF1os","Solo daños").lower())
print((df["GRAVEDAD_ACCIDENTE"].unique()))

['con heridos' 'solo daños' 'con muertos']

In [15]:
#MES
#Mes de ocurrencia del incidente vial
print((df["MES"].unique()))

[10 11 12  9  4  3  5  6  7  8  1  2]

In [16]:
#NRO_RADICADO
#Consecutivo que asigna UNE, según el orden de llegada de los expedientes para su diligenciamiento
#no tiene mucho valor aparentemente para nuestros fines
print((df["NRO_RADICADO"].head()))

0    1508668
1    1510621
2    1508691
3    1508694
4    1510634
Name: NRO_RADICADO, dtype: object

In [17]:
#NUMCOMUNA
#Numero de la comununa en la que ocurrio incidente vial
print(df["NUMCOMUNA"].unique())

['10' '02' '01' '15' '14' '11' '07' '06' '04' '09' '05' '80' '13' '08'
 '16' '03' '12' '70' '60' '90' 'In' 'SN' '0' '50' 'AU' '5' '7' '9' '4' '3'
 '1' '2' '8' '6' 'Sin Inf']

In [18]:
#BARRIO
print(len(df["BARRIO"].unique()))
#Barrio de ocurrencia del incidente vial
#ó por o
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).lower().replace("\\xf3","o").replace("ó","o"))
#é por e 
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xe9","e").replace("é","e"))
#á por a 
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xc1","a").replace("\\xe1","a").replace("á","a"))
#ñ
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xf1","ñ"))
#\\xed í por i
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xed","i").replace("í","i"))
#\\xfa ú por u
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xfa","u").replace("ú","u"))
print((df["BARRIO"].unique()))

489
['barrio colon' 'san diego' 'la francia' 'santo domingo savio no. 1'
 'santa fe' 'la florida' 'los conquistadores' 'la alpujarra' 'villa nueva'
 'facultad de minas u. nacional' 'la esperanza' 'perpetuo socorro'
 'campo valdes no. 1' 'miraflores' 'oleoducto' 'terminal de transporte'
 'gerona' 'u.d. atanasio girardot' 'alejandro echavarria'
 'cabecera san antonio de prado' 'manila' 'los balsos no.2' 'moravia'
 'tenche' 'universidad nacional' 'los colores' 'caribe'
 'juan xxiii la quiebra' 'belalcazar' 'santa cruz' 'sucre' 'la candelaria'
 'el estadio' 'suramericana' 'la gloria' 'centro administrativo'
 'las estancias' 'aures no. 2' 'los angeles' 'castilla' 'la salle'
 'la america' 'picacho' 'bosques de san pablo' 'la aguacatala'
 'playon de los comuneros' 'estacion villa' 'la colina' 'popular'
 'villa del socorro' 'cucaracho' 'santa maria de los angeles'
 'el chagualo' 'la mansion' 'san benito' 'la castellana' 'jesus nazareno'
 'loreto' 'asomadera no. 1' 'el salvador' 'cristo rey' 'moscu no. 2'
 'la mota' 'villa hermosa' 'cordoba' 'campo amor' 'naranjal' 'san isidro'
 'boyaca' 'belen' 'miranda' 'las palmas' 'patio bonito' 'el castillo'
 'guayabal' 'girardot' 'campo valdes no. 2' 'doce de octubre no.1'
 'el raizal' 'rosales' 'san martin de porres' 'berlin' 'kennedy'
 'el rincon' 'carlos e. restrepo' 'moscu no. 1' 'altavista sector central'
 'san javier no.1' 'bolivariana' 'prado' 'boston' 'veinte de julio'
 'alfonso lopez' 'hector abad gomez' 'parque juan pablo ii' 'lorena'
 'los alpes' 'parque norte' 'la ladera' 'trinidad' 'castropol' 'laureles'
 'la piñuela' 'aranjuez' 'robledo' 'buenos aires' 'san german'
 'bombona no. 1' 'area de expansion pajarito' 'santander' 'simon bolivar'
 'corazon de jesus' 'francisco antonio zea' 'cuarta brigada' 'los mangos'
 'versalles no. 2' 'calle nueva' 'fatima' 'asomadera no. 2' 'guayaquil'
 'villa carlota' 'la pilarica' 'los balsos no.1' 'la esperanza no. 2'
 'san pedro' 'manrique oriental' 'cerro nutibara'
 'nueva villa de la iguana' 'sevilla' 'manrique central no. 1'
 'tricentenario' 'el progreso' 'campo alegre' 'el pomar' 'florida nueva'
 'barrio caicedo' 'barrio colombia' 'cabecera urbana san cristobal'
 'los cerros el vergel' 'astorga' 'santa monica' 'la isla' 'san bernardo'
 'altamira' 'san javier no.2' 'la floresta' 'aures no.1' 'cataluña'
 'antonio nariño' 'lopez de mesa' 'granizal' 'las lomas no.1'
 'los alcazares' 'el velodromo' 'nueva villa de aburra' 'villa flora'
 'las acacias' 'llanaditas' 'florencia' 'las esmeraldas' 'los pinos'
 'el danubio' 'las granjas' 'el diamante' 'lalinde' 'el diamante no. 2'
 'ferrini' 'santa ines' 'palermo' 'la cruz' 'olaya herrera' 'belencito'
 'los naranjos' 'altavista' 'manrique central no. 2'
 'universidad de antioquia' 'pedregal' 'las brisas' 'el salado' 'toscana'
 'calasanz' 'el tesoro' 'brasilia' 'bermejal-los alamos' 'el poblado'
 'villa guadalupe' 'la frontera' 'enciso' 'villatina' 'aguas frias'
 'monteclaro' 'maria cano carambolas' 'cementerio universal'
 'campo valdes no.2' 'metropolitano' 'versalles no. 1' 'la libertad'
 'la rosa' 'san miguel' 'inst' 'suburbano mirador del poblado' 'granada'
 'alejandria' 'loma de los bernal' 'doce de octubre no.2' 'la hondonada'
 'santa margarita' 'san joaquin' 'tejelo' 'san lucas' 'miravalle'
 'altos del poblado' 'manrique central no.2' 'el corazon'
 'bello horizonte' 'la palma' 'barrio de jesus' 'diego echavarria'
 'el pinal' 'las playas' 'sin nombre' 'la oculta' 'la pradera'
 'el triunfo' 'las violetas' 'mirador del doce' 'san pablo'
 'las lomas no.2' 'santa lucia' 'suburbano pedregal alto'
 'asomadera no. 3' 'bombona no.1' 'betania'
 'facultad veterinaria y zootecnia u.de.a.' '0' 'andalucia' 'villa niza'
 'carpinelo' 'el progreso no.2' 'santa teresita' 'suburbano altavista'
 'suburbano la loma' 'b. cerro  el volador' 'aldea pablo vi'
 'bombona no. 2' 'barrio cristobal' 'la loma oriental' 'villa liliam'
 'villa turbay' 'calasanz parte alta' 'el nogal-los almendros' 'u.p.b.'
 'oriente' 'santa rosa de lima' 'santo domingo savio no. 2' 'la milagrosa'
 'blanquizal' 'plaza de ferias' 'area de expansion san antonio de prado'
 'buga patio bonito' 'pajarito' 'hospital san vicente de paul'
 'fuente clara' 'jardin botanico' 'la verde' 'el pesebre' 'el compromiso'
 'el rodeo' 'nuevos conquistadores' 'suburbano travesias' 'palenque'
 'trece de noviembre' 'san antonio' 'manrique central no.1'
 'juan pablo ii' 'area de expansion altos de calasanz' 'las mercedes'
 'el socorro' 'pedregal bajo' 'eduardo santos' 'pedregal alto' 'picachito'
 'la avanzada' 'suburbano palmitas' 'ocho de marzo' 'las independencias'
 'pablo vi' 'area de expansion altavista' 'suburbano el plan'
 'versalles no.1' 'piedras blancas' 'el picacho' 'san jose la cima no. 1'
 '6001' 'auc1' 'suburbano el tesoro' 'la loma de los bernal' 'la sierra'
 'suburbano el llano' 'santo domingo savio no.1' 'volcana guayabal'
 'el corazon el morro' '7001' 'san jose la cima no.2' 'yolombo'
 'aures no.2' 'barrios de jesus' 'batallon girardot'
 'palmitas sector central' 'area de expansion belen rincon' 'el vergel'
 'suburbano palma patio' 'san jose de la montaña' 'suburb el plan'
 'asomadera no.1' 'piedras blancas represa' 'la loma' 'potrerito'
 'moscu no.2' 'suburbano la cuchilla' '1018' '1507' '1504' '1408' '1011'
 '1419' '1503' '0907' 'sin inf' '1422' '1020' '0408' '1510'
 'santa elena sector central' '1114' '0205' '1423' '0402' '0103' '0717'
 '0505' '1019' '1001' '0509' '0301' '1101' '0303' '0409' '0811' '0712'
 '1603' '1003' '0307' '1204' '0208' '0809' '0306' '0906' '1007' '0413'
 'suburbano aguas frias' '1103' '1108' '1511' '0109' '1206' '0914' '0711'
 'san jose del manzanillo' '1613' '0813' '0514' '1611' '1306' '0819'
 '7002' 'suburbano la palma-el patio' '1012' 'versalles no.2' 'media luna'
 'piedras blancas - matasano' 'suburbano potrerito' 'villa lilliam' '9004'
 'el plan' 'el uvito' '9086' 'el llano se' 'yarumalito' '0312' '1102'
 '1202' '0302' '1105' '1205' 'el astillero' '0310' '0309' '1211' '0803'
 '0105' '0606' '0716' '1605' '0211' '5002' 'suburbano piedra gorda' '0912'
 'travesias' 'moscu no.1' 'auc2' '0903' '1004' '1015' '1620' '1612' '1008'
 '0815' '0304' '0202' 'boqueron']

In [19]:
#COMUNA
#Denominación con la cual se identifica cada Comuna o Corregimiento. 01:Popular 02:Santa Cruz 03:Manrique 04:Aranjuez 05:Castilla 06:Doce de Octubre 07:Robledo 08:Villa Hermosa 09:Buenos Aires 10:La Candelaria 11:Laureles - Estadio 12:La América 13:San Javier 14:El Poblado 15:Guayabal 16:Belén 50:San Sebastián de Palmitas 60:San Cristobal 70:Altavista 80:San Antonio de Prado 90:Santa Elena 99:Toda la Ciudad
##variable redundante
#ó por o
df["COMUNA"]=df["COMUNA"].apply(lambda x : str(x).lower().replace("\\xf3","o").replace("ó","o"))
#á por a 
df["COMUNA"]=df["COMUNA"].apply(lambda x : str(x).replace("\\xc1","a").replace("\\xe1","a").replace("á","a"))
#é por e 
df["COMUNA"]=df["COMUNA"].apply(lambda x : str(x).replace("\\xe9","e").replace("é","e"))
print((df["COMUNA"].unique()))

['la candelaria' 'santa cruz' 'popular' 'guayabal' 'el poblado'
 'laureles estadio' 'robledo' 'doce de octubre' 'aranjuez' 'buenos aires'
 'castilla' 'corregimiento de san antonio de prado' 'san javier'
 'villa hermosa' 'belen' 'manrique' 'la america'
 'corregimiento de altavista' 'corregimiento de san cristobal'
 'corregimiento de santa elena' 'in' 'sn'
 'corregimiento de san sebastian de palmitas' '0' 'au']

In [20]:
#LOCATION
#Fuente de información con la cual se realizó la geocodificación
print((df["LOCATION"].head(10)))

0    [-75.5688011014, 6.24312304123]
1    [-75.5693883283, 6.22870030622]
2    [-75.5503911403, 6.29869502502]
3    [-75.5442195069, 6.30019383306]
4     [-75.578180998, 6.21699243701]
5      [-75.561118009, 6.2047775959]
6    [-75.5810144962, 6.24576066323]
7    [-75.5752597216, 6.24685341912]
8    [-75.5624178534, 6.25341454089]
9    [-75.5931430393, 6.27330476643]
Name: LOCATION, dtype: object

In [21]:
#X
#Coordenada X en metros del accidente, en sistema de coordenadas MAGNA Medellin Local
print(df["X"].head(10))

0    834949.69
1    834880.17
2    837004.94
3    837688.53
4    833903.11
5    835788.30
6    833598.49
7    834235.89
8    835659.53
9    832264.64
Name: X, dtype: float64

In [22]:
#Y
#Coordenada Y en metros del accidente, en sistema de coordenadas MAGNA Medellin Local
print(df["Y"].head(10))

0    1182357.34
1    1180762.02
2    1188499.17
3    1188663.05
4    1179469.60
5    1178113.02
6    1182652.97
7    1182772.04
8    1183493.83
9    1185703.90
Name: Y, dtype: float64

In [23]:
#Eliminar duplicados
df.drop_duplicates(inplace=True)
#borrar columnas con datos redudantes o poco aportantes
df.drop(labels=["DIRECCION ENCASILLADA","EXPEDIENTE","FECHA_ACCIDENTES","NRO_RADICADO","COMUNA"],axis=1,inplace=True)

In [24]:
df.to_csv("datosLimpios.csv")
#guardamos los datos en una nueva varible
data=df.copy()
df

,AÑO,CBML,CLASE_ACCIDENTE,DIRECCION,DISEÑO,FECHA_ACCIDENTE,GRAVEDAD_ACCIDENTE,MES,NUMCOMUNA,BARRIO,LOCATION,X,Y
0,2015,1013,caida ocupante,CR 46 CL 43,tramo de via,2015-10-21 05:58:00,con heridos,10,10,barrio colon,"[-75.5688011014, 6.24312304123]",834949.69,1182357.34
1,2015,1020,choque,CR 43 A CL 29,tramo de via,2015-11-05 03:00:00,solo daños,11,10,san diego,"[-75.5693883283, 6.22870030622]",834880.17,1180762.02
2,2015,0205,otro,CR 46 CL 37,tramo de via,2015-10-21 07:40:00,con heridos,10,02,la francia,"[-75.5503911403, 6.29869502502]",837004.94,1188499.17
3,2015,0101,atropello,CR 34 CL 112,tramo de via,2015-10-21 12:00:00,con heridos,10,01,santo domingo savio no. 1,"[-75.5442195069, 6.30019383306]",837688.53,1188663.05
4,2015,1504,choque,CR 50 CL 14,tramo de via,2015-11-03 06:16:00,solo daños,11,15,santa fe,"[-75.578180998, 6.21699243701]",833903.11,1179469.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270760,2020,1004,caida ocupante,CR 62 CL 59,tramo de via,2020-08-31 18:50:00,con heridos,8,10,el chagualo,"[-75.5731343044, 6.26063534822]",834475.51,1184295.99
270761,2020,1115,otro,CL 50 CR 74,tramo de via,2020-08-31 18:50:00,con heridos,8,11,cuarta brigada,"[-75.5902062951, 6.26040455473]",832585.61,1184275.87
270762,2020,515,choque,CL 80 CR 65,tramo de via,2020-08-31 19:05:00,solo daños,8,5,cementerio universal,"[-75.5735398111, 6.27625838886]",834435.55,1186024.41
270763,2020,207,atropello,CL 104 CR 45,tramo de via,2020-08-31 19:30:00,con heridos,8,2,villa del socorro,"[-75.5515085985, 6.29359892373]",836879.66,1187935.77
270764,2020,303,atropello,CR 44 CL 79,lote o predio,2020-08-31 21:45:00,con heridos,8,3,campo valdes no. 2,"[-75.5533856947, 6.2717784831]",836665.08,1185522.50

In [25]:
#df=pd.read_csv("datosLimpios.csv")

## 1 - Entrenamiento de un modelo predictivo
Se deberá construir un modelo que permita predecir la accidentalidad por tipo de accidente a nivel semanal, mensual y diario. Para esto se deberán considerar fechas especiales.

In [87]:
df=data
df["DIA"]=df["FECHA_ACCIDENTE"].apply(lambda x: x.date())
df=df.groupby(["DIA","CLASE_ACCIDENTE"]).count()
df.reset_index(inplace=True)
df["CANTIDAD"]=df["AÑO"]
df=df[["DIA","CLASE_ACCIDENTE","CANTIDAD"]]
df

              DIA CLASE_ACCIDENTE  CANTIDAD
0      2014-07-04          choque        22
1      2014-07-05       atropello        25
2      2014-07-05  caida ocupante        18
3      2014-07-05          choque        63
4      2014-07-05            otro         7
...           ...             ...       ...
11155  2020-08-31       atropello        10
11156  2020-08-31  caida ocupante         5
11157  2020-08-31          choque        62
11158  2020-08-31            otro         8
11159  2020-08-31     volcamiento         6

[11160 rows x 3 columns]

In [89]:
import holidays_co as co
from datetime import timedelta
#dia_festivo 1 si 0 no
df["dia_festivo".upper()]=df["DIA"].apply(lambda x : int(co.is_holiday_date(x)))
#sigiente_dia_festivo
df["sigiente_dia_festivo".upper()]=df["DIA"].apply(lambda x : int(co.is_holiday_date(x+timedelta(days=1))))
#anterior_dia_festivo
df["anterior_dia_festivo".upper()]=df["DIA"].apply(lambda x : int(co.is_holiday_date(x-timedelta(days=1))))
df["AÑO"]=df["DIA"].apply(lambda x : pd.Timestamp(x).year)
df["MES"]=df["DIA"].apply(lambda x : pd.Timestamp(x).month)
df["dia_de_la_semana".upper()]=df["dia".upper()].apply(lambda x : pd.Timestamp(x).day_of_week)
df["semana_del_año".upper()]=df["dia".upper()].apply(lambda x : pd.Timestamp(x).week)
df["dia_del_mes".upper()]=df["dia".upper()].apply(lambda x : pd.Timestamp(x).day)
df.tail(10)

,DIA,CLASE_ACCIDENTE,CANTIDAD,DIA_FESTIVO,SIGIENTE_DIA_FESTIVO,ANTERIOR_DIA_FESTIVO,AÑO,MES,DIA_DE_LA_SEMANA,SEMANA_DEL_AÑO,DIA_DEL_MES
11150,2020-08-30,atropello,7,0,0,0,2020,8,6,35,30
11151,2020-08-30,caida ocupante,3,0,0,0,2020,8,6,35,30
11152,2020-08-30,choque,38,0,0,0,2020,8,6,35,30
11153,2020-08-30,otro,7,0,0,0,2020,8,6,35,30
11154,2020-08-30,volcamiento,6,0,0,0,2020,8,6,35,30
11155,2020-08-31,atropello,10,0,0,0,2020,8,0,36,31
11156,2020-08-31,caida ocupante,5,0,0,0,2020,8,0,36,31
11157,2020-08-31,choque,62,0,0,0,2020,8,0,36,31
11158,2020-08-31,otro,8,0,0,0,2020,8,0,36,31
11159,2020-08-31,volcamiento,6,0,0,0,2020,8,0,36,31

Sea X el con junto de parametros

### Entrenamiento y validación
Los modelos predictivos se deberán construir con los datos de los años 2014, 2015, 2016, 2018. Se usan los accidentes del año 2019 y 2020 (¡alerta!) para validar los modelos.
Se deberá analizar el comportamiento del modelo predictivo en los años 2021 y 2022 y explicar las posibles desviaciones.

In [90]:
train=df[(df["AÑO"]) <2019]
test=df.drop(train.index)
X_train=train[["CLASE_ACCIDENTE","DIA_FESTIVO","SIGIENTE_DIA_FESTIVO","ANTERIOR_DIA_FESTIVO","AÑO","MES","DIA_DE_LA_SEMANA","SEMANA_DEL_AÑO","DIA_DEL_MES"]]
Y_train=train[["CANTIDAD"]]
X_test=test[["CLASE_ACCIDENTE","DIA_FESTIVO","SIGIENTE_DIA_FESTIVO","ANTERIOR_DIA_FESTIVO","AÑO","MES","DIA_DE_LA_SEMANA","SEMANA_DEL_AÑO","DIA_DEL_MES"]]
Y_test=test[["CANTIDAD"]]

In [103]:
from sklearn.compose import make_column_selector
    # Importe make_column_transformer
from sklearn.compose import make_column_transformer
    # Importe SelectKBest
from sklearn.feature_selection import SelectKBest
    # Importe f_regression
from sklearn.feature_selection import f_regression
    # Importe LinearRegression
from sklearn.linear_model import LinearRegression
    # Importe GridSearchCV
from sklearn.model_selection import GridSearchCV
    # Importe Pipeline
from sklearn.pipeline import Pipeline
    # Importe OneHotEncoder
from sklearn.preprocessing import OneHotEncoder


pipeline = Pipeline(
        steps=[
            # Paso 1: Construya un column_transformer que aplica OneHotEncoder a las
            # variables categóricas, y no aplica ninguna transformación al resto de
            # las variables.
            (
                "column_transfomer",
                make_column_transformer(
                    (
                        OneHotEncoder(),
                        make_column_selector(dtype_include=object),
                    ),
                    remainder='passthrough',
                ),
            ),
            # Paso 2: Construya un selector de características que seleccione las K
            # características más importantes. Utilice la función f_regression.
            (
                "selectKBest",
                SelectKBest(score_func=f_regression),
            ),
            # Paso 3: Construya un modelo de regresión lineal.
            (
                "linearRegression",
                LinearRegression(),
            ),
        ],
    )

In [104]:
 param_grid = {
        "selectKBest__k": (1, 9),
    }

In [107]:
gridSearchCV = GridSearchCV(
        estimator=pipeline,
        param_grid=param_grid,
        cv=5,
        scoring="neg_mean_squared_error",
        refit=True,
        return_train_score=False,
    )

In [108]:
gridSearchCV.fit(X_train, Y_train)

C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('column_transfomer',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('onehotencoder',
                                                                         OneHotEncoder(),
                                                                         <sklearn.compose._column_transformer.make_column_selector object at 0x0000018A9F381CC8>)])),
                                       ('selectKBest',
                                        SelectKBest(score_func=<function f_regression at 0x0000018AA862F168>)),
                                       ('linearRegression',
                                        LinearRegression())]),
             param_grid={'selectKBest__k': (1, 9)},
             scoring='neg_mean_squared_error')

In [101]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
# Evalúe el modelo con los conjuntos de entrenamiento y prueba.
Y_train_pred = gridSearchCV.predict(X_train)
Y_test_pred = gridSearchCV.predict(X_test)

    # Compute el error cuadratico medio de entrenamiento y prueba. Redondee los
    # valores a dos decimales.

mse_train = r2_score(
        Y_train,
        Y_train_pred,
    ).round(2)

mse_test = r2_score(
        Y_test,
        Y_test_pred,
    ).round(2)

In [102]:
print(mse_test,mse_train)

0.73 0.89