
# prediccion de incidentes viales en la ciudad de Medellin

## importacion librerias necesarias

In [1]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

## lectura y exploracion de los datos

In [2]:
#lectura dataframe saltando las filas malas
df=pd.read_csv("incidentes_viales.csv",on_bad_lines='skip',index_col=False,sep=";",encoding="UTF-8")
print(df.head())

    AÑO  CBML CLASE_ACCIDENTE      DIRECCION       DIRECCION ENCASILLADA  \
0  2015  1013  Caida Ocupante    CR 46 CL 43    CR  046   043  000 00000
1  2015  1020          Choque  CR 43 A CL 29  CR  043 A   029  000 00000
2  2015  0205            Otro    CR 46 CL 37    CR  046   037  000 00000
3  2015  0101       Atropello   CR 34 CL 112    CR  034   112  000 00000
4  2015  1504          Choque    CR 50 CL 14    CR  050   014  000 00000

         DISEÑO  EXPEDIENTE      FECHA_ACCIDENTE          FECHA_ACCIDENTES  \
0  Tramo de via  A000259731  21/10/2015 05:58:00  2015-10-21T10:58:00.000Z
1  Tramo de via  A000261725  05/11/2015 03:00:00  2015-11-05T08:00:00.000Z
2  Tramo de via  A000259739  21/10/2015 07:40:00  2015-10-21T12:40:00.000Z
3  Tramo de via  A000259752  21/10/2015 12:00:00  2015-10-21T17:00:00.000Z
4  Tramo de via  A000259949  03/11/2015 06:16:00  2015-11-03T11:16:00.000Z

  GRAVEDAD_ACCIDENTE  MES NRO_RADICADO NUMCOMUNA                     BARRIO  \
0        Con heridos   10      1508668        10               Barrio Colón
1         Solo daños   11      1510621        10                  San Diego
2        Con heridos   10      1508691        02                 La Francia
3        Con heridos   10      1508694        01  Santo Domingo Savio No. 1
4         Solo daños   11      1510634        15                   Santa Fé

          COMUNA                         LOCATION          X           Y
0  La Candelaria  [-75.5688011014, 6.24312304123]  834949.69  1182357.34
1  La Candelaria  [-75.5693883283, 6.22870030622]  834880.17  1180762.02
2     Santa Cruz  [-75.5503911403, 6.29869502502]  837004.94  1188499.17
3        Popular  [-75.5442195069, 6.30019383306]  837688.53  1188663.05
4       Guayabal   [-75.578180998, 6.21699243701]  833903.11  1179469.60

C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (0,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
#revisamos las columnas
print(df.columns)
print("numero de columnas iniciales ",len(df.columns))
print("numero de filas iniciales ",df.shape[0])

Index(['AÑO', 'CBML', 'CLASE_ACCIDENTE', 'DIRECCION', 'DIRECCION ENCASILLADA',
       'DISEÑO', 'EXPEDIENTE', 'FECHA_ACCIDENTE', 'FECHA_ACCIDENTES',
       'GRAVEDAD_ACCIDENTE', 'MES', 'NRO_RADICADO', 'NUMCOMUNA', 'BARRIO',
       'COMUNA', 'LOCATION', 'X', 'Y'],
      dtype='object')
numero de columnas iniciales  18
numero de filas iniciales  270765

## limpieza de datos

In [4]:
#eliminacion de datos con nulos
df.dropna(inplace=True)
#eliminar datos duplicados
df.drop_duplicates(inplace=True)
print(df.shape[0])

250686

In [5]:
#AÑO-Año de ocurrencia del incidente
df["AÑO"]=df["AÑO"].apply(lambda x : re.findall(r"[0-9]{4}",str(x))[0])
print(df["AÑO"].unique())

['2015' '2014' '2016' '2017' '2018' '2019' '2020']

In [6]:
#CBML-Codigo catastral que corresponde al codigo comuna, barrio, manzana, lote catastral de un predio.
print(len(df["CBML"].unique()))

521

In [7]:
#CLASE_ACCIDENTE-Clasificación del IPAT sobre la clase de accidente de transito: choque, atropello, volcamiento,
#caida de ocupante, incendio, u otro (que no corresponde a las anteriores 5 clasificaciones, p. ej: sumersión)
df["CLASE_ACCIDENTE"]=df["CLASE_ACCIDENTE"].apply(lambda x : str(x).replace("Caída de Ocupante","Caida Ocupante").lower())
print((df["CLASE_ACCIDENTE"].unique()))

['caida ocupante' 'choque' 'otro' 'atropello' 'volcamiento' 'incendio']

In [8]:
#DIRECCION-Dirección donde ocurrió el incidente
##aparentemente se encuentra ya formateada
print((df["DIRECCION"].sample(10)))

243483        CL 48 CR 92
219633        CR 39 CL 48
253358        CR 41 CL 57
81348     CR 42 B CL 33 A
152064        CR 36 CL 90
40088          CR 29 CL 5
48315         CL 46 CR 30
31343        CR 102 CL 69
54546         CR 64 CL 78
71482     CL 48 B CR 99 A
Name: DIRECCION, dtype: object

In [9]:
#DIRECCION ENCASILLADA-	Dirección encasillada que entrega el geocodificador
##aparentemente se encuentra ya formateada
##variable con poca informacion util dada la variable anterior--escoger una de las 2
print((df["DIRECCION ENCASILLADA"].sample(10)))

165246      CL  091   052  000 00000
264187      CR  074   093  000 00000
121716      CR  045   037  000 00000
170516    CR  047 B   098  000 00000
58535       CR  063   048  000 00000
111208      CR  049   028  000 00000
152648      CR  052   090  000 00000
186394      CL  048   071  000 00000
129259      CR  080   052  000 00000
424         CR  091   044  000 00000
Name: DIRECCION ENCASILLADA, dtype: object

In [10]:
#DISENO-Sitio de la vía donde ocurrió el accidente: Cicloruta, Glorieta, Interseccion, Lote o Predio, Paso a Nivel, Paso Elevado,
#Paso Inferior, Pontón, Puente, Tramo de via, Tunel, Via peatonal
df["DISEÑO"]=df["DISEÑO"].apply(lambda x : str(x).replace("Pont\\xF3n","Pontón").lower())
print((df["DISEÑO"].unique()))

['tramo de via' 'interseccion' 'glorieta' 'lote o predio' 'paso a nivel'
 'puente' 'paso elevado' 'ciclo ruta' 'paso inferior' 'via peatonal'
 'pontón' 'tunel']

In [11]:
#EXPEDIENTE
#Consecutivo que asigna UNE, según el orden de llegada de los expedientes para su diligenciamiento
##variable  aprarentemente con poco valor
print((df["EXPEDIENTE"].sample(10)))

76230     A000308055
128767    A000591757
35707     A001004507
36684     A001007853
124020    A000490062
49601     A000675266
199937    A000775621
92420     A000173780
90048     A000670555
202754    A000114063
Name: EXPEDIENTE, dtype: object

In [12]:
#FECHA_ACCIDENTE
#Fecha del accidente, proviene del IPAT - Informe Policial de accidente de Tránsito
df["FECHA_ACCIDENTE"] = pd.to_datetime(df["FECHA_ACCIDENTE"],dayfirst=True)
print((df["FECHA_ACCIDENTE"].sample(10)))

581      2015-11-25 06:15:00
106488   2014-10-10 00:35:00
250300   2019-02-05 16:45:00
221663   2016-08-09 09:00:00
58052    2014-09-16 18:00:00
37916    2019-09-05 19:30:00
173562   2019-12-23 14:00:00
253733   2019-05-08 07:30:00
126748   2017-03-04 15:20:00
75109    2015-01-16 15:50:00
Name: FECHA_ACCIDENTE, dtype: datetime64[ns]

In [13]:
#FECHA_ACCIDENTES
#Fecha de los accidente (formato YYYY-MM-DD hh:mi:ss), proviene del IPAT - Informe Policial de accidentes de Tránsito
##veriable redundante con la anterior
print((df["FECHA_ACCIDENTES"].head(10)))

0    2015-10-21T10:58:00.000Z
1    2015-11-05T08:00:00.000Z
2    2015-10-21T12:40:00.000Z
3    2015-10-21T17:00:00.000Z
4    2015-11-03T11:16:00.000Z
5    2015-11-05T09:30:00.000Z
6    2015-10-18T09:40:00.000Z
7    2015-11-04T09:46:00.000Z
8    2015-10-21T12:00:00.000Z
9    2015-11-05T12:00:00.000Z
Name: FECHA_ACCIDENTES, dtype: object

In [14]:
#GRAVEDAD_ACCIDENTE
#Clasificación del IPAT - Informe Policial de Accidentes de Tránsito, sobre la gravedad del accidente, corresponde al resultado 
#más grave presentado en el accidente. Daños materiales "Sólo daños", accidente con heridos "Herido", accidente con muertos 
#"Muerto". No indica cantidad
df["GRAVEDAD_ACCIDENTE"]=df["GRAVEDAD_ACCIDENTE"].apply(lambda x : str(x).replace("Solo da\\xF1os","Solo daños").lower())
print((df["GRAVEDAD_ACCIDENTE"].unique()))

['con heridos' 'solo daños' 'con muertos']

In [15]:
#MES
#Mes de ocurrencia del incidente vial
print((df["MES"].unique()))

[10 11 12  9  4  3  5  6  7  8  1  2]

In [16]:
#NRO_RADICADO
#Consecutivo que asigna UNE, según el orden de llegada de los expedientes para su diligenciamiento
#no tiene mucho valor aparentemente para nuestros fines
print((df["NRO_RADICADO"].head()))

0    1508668
1    1510621
2    1508691
3    1508694
4    1510634
Name: NRO_RADICADO, dtype: object

In [17]:
#NUMCOMUNA
#Numero de la comununa en la que ocurrio incidente vial
#se eliminan las filas con valores que no corespondan con 
df=df[df["NUMCOMUNA"]!="AU"]
df=df[df["NUMCOMUNA"]!="Sin Inf"]
df=df[df["NUMCOMUNA"]!="In"]
df=df[df["NUMCOMUNA"]!="SN"]
df=df[df["NUMCOMUNA"]!="0"]
#asuminos que las comunas 60,70,80,90 son las comunas 6,7,8,9 respectivamente
df["NUMCOMUNA"]=df["NUMCOMUNA"].apply(lambda x : (int(x)))
df["NUMCOMUNA"]=df["NUMCOMUNA"].apply(lambda x : x/10 if x >20 else x)
df["NUMCOMUNA"]=df["NUMCOMUNA"].apply(lambda x : str(int(x)))
print(sorted(df["NUMCOMUNA"].unique()))

['1', '10', '11', '12', '13', '14', '15', '16', '2', '3', '4', '5', '6', '7', '8', '9']

In [18]:
#BARRIO
print(len(df["BARRIO"].unique()))
#Barrio de ocurrencia del incidente vial
#ó por o
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).lower().replace("\\xf3","o").replace("ó","o"))
#é por e 
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xe9","e").replace("é","e"))
#á por a 
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xc1","a").replace("\\xe1","a").replace("á","a"))
#ñ
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xf1","ñ"))
#\\xed í por i
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xed","i").replace("í","i"))
#\\xfa ú por u
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xfa","u").replace("ú","u"))
print((df["BARRIO"].unique()))

488
['barrio colon' 'san diego' 'la francia' 'santo domingo savio no. 1'
 'santa fe' 'la florida' 'los conquistadores' 'la alpujarra' 'villa nueva'
 'facultad de minas u. nacional' 'la esperanza' 'perpetuo socorro'
 'campo valdes no. 1' 'miraflores' 'oleoducto' 'terminal de transporte'
 'gerona' 'u.d. atanasio girardot' 'alejandro echavarria'
 'cabecera san antonio de prado' 'manila' 'los balsos no.2' 'moravia'
 'tenche' 'universidad nacional' 'los colores' 'caribe'
 'juan xxiii la quiebra' 'belalcazar' 'santa cruz' 'sucre' 'la candelaria'
 'el estadio' 'suramericana' 'la gloria' 'centro administrativo'
 'las estancias' 'aures no. 2' 'los angeles' 'castilla' 'la salle'
 'la america' 'picacho' 'bosques de san pablo' 'la aguacatala'
 'playon de los comuneros' 'estacion villa' 'la colina' 'popular'
 'villa del socorro' 'cucaracho' 'santa maria de los angeles'
 'el chagualo' 'la mansion' 'san benito' 'la castellana' 'jesus nazareno'
 'loreto' 'asomadera no. 1' 'el salvador' 'cristo rey' 'moscu no. 2'
 'la mota' 'villa hermosa' 'cordoba' 'campo amor' 'naranjal' 'san isidro'
 'boyaca' 'belen' 'miranda' 'las palmas' 'patio bonito' 'el castillo'
 'guayabal' 'girardot' 'campo valdes no. 2' 'doce de octubre no.1'
 'el raizal' 'rosales' 'san martin de porres' 'berlin' 'kennedy'
 'el rincon' 'carlos e. restrepo' 'moscu no. 1' 'altavista sector central'
 'san javier no.1' 'bolivariana' 'prado' 'boston' 'veinte de julio'
 'alfonso lopez' 'hector abad gomez' 'parque juan pablo ii' 'lorena'
 'los alpes' 'parque norte' 'la ladera' 'trinidad' 'castropol' 'laureles'
 'la piñuela' 'aranjuez' 'robledo' 'buenos aires' 'san german'
 'bombona no. 1' 'area de expansion pajarito' 'santander' 'simon bolivar'
 'corazon de jesus' 'francisco antonio zea' 'cuarta brigada' 'los mangos'
 'versalles no. 2' 'calle nueva' 'fatima' 'asomadera no. 2' 'guayaquil'
 'villa carlota' 'la pilarica' 'los balsos no.1' 'la esperanza no. 2'
 'san pedro' 'manrique oriental' 'cerro nutibara'
 'nueva villa de la iguana' 'sevilla' 'manrique central no. 1'
 'tricentenario' 'el progreso' 'campo alegre' 'el pomar' 'florida nueva'
 'barrio caicedo' 'barrio colombia' 'cabecera urbana san cristobal'
 'los cerros el vergel' 'astorga' 'santa monica' 'la isla' 'san bernardo'
 'altamira' 'san javier no.2' 'la floresta' 'aures no.1' 'cataluña'
 'antonio nariño' 'lopez de mesa' 'granizal' 'las lomas no.1'
 'los alcazares' 'el velodromo' 'nueva villa de aburra' 'villa flora'
 'las acacias' 'llanaditas' 'florencia' 'las esmeraldas' 'los pinos'
 'el danubio' 'las granjas' 'el diamante' 'lalinde' 'el diamante no. 2'
 'ferrini' 'santa ines' 'palermo' 'la cruz' 'olaya herrera' 'belencito'
 'los naranjos' 'altavista' 'manrique central no. 2'
 'universidad de antioquia' 'pedregal' 'las brisas' 'el salado' 'toscana'
 'calasanz' 'el tesoro' 'brasilia' 'bermejal-los alamos' 'el poblado'
 'villa guadalupe' 'la frontera' 'enciso' 'villatina' 'aguas frias'
 'monteclaro' 'maria cano carambolas' 'cementerio universal'
 'campo valdes no.2' 'metropolitano' 'versalles no. 1' 'la libertad'
 'la rosa' 'san miguel' 'suburbano mirador del poblado' 'granada'
 'alejandria' 'loma de los bernal' 'doce de octubre no.2' 'la hondonada'
 'santa margarita' 'san joaquin' 'tejelo' 'san lucas' 'miravalle'
 'altos del poblado' 'manrique central no.2' 'el corazon'
 'bello horizonte' 'la palma' 'barrio de jesus' 'diego echavarria'
 'el pinal' 'las playas' 'la oculta' 'la pradera' 'el triunfo'
 'las violetas' 'mirador del doce' 'san pablo' 'las lomas no.2'
 'santa lucia' 'suburbano pedregal alto' 'asomadera no. 3' 'bombona no.1'
 'betania' 'facultad veterinaria y zootecnia u.de.a.' 'andalucia'
 'villa niza' 'carpinelo' 'el progreso no.2' 'santa teresita'
 'suburbano altavista' 'suburbano la loma' 'b. cerro  el volador'
 'aldea pablo vi' 'bombona no. 2' 'barrio cristobal' 'la loma oriental'
 'villa liliam' 'villa turbay' 'calasanz parte alta'
 'el nogal-los almendros' 'u.p.b.' 'oriente' 'santa rosa de lima'
 'santo domingo savio no. 2' 'la milagrosa' 'blanquizal' 'plaza de ferias'
 'area de expansion san antonio de prado' 'buga patio bonito' 'pajarito'
 'hospital san vicente de paul' 'fuente clara' 'jardin botanico'
 'la verde' 'el pesebre' 'el compromiso' 'el rodeo'
 'nuevos conquistadores' 'suburbano travesias' 'palenque'
 'trece de noviembre' 'san antonio' 'manrique central no.1'
 'juan pablo ii' 'area de expansion altos de calasanz' 'las mercedes'
 'el socorro' 'pedregal bajo' 'eduardo santos' 'pedregal alto' 'picachito'
 'la avanzada' 'inst' 'suburbano palmitas' 'ocho de marzo'
 'las independencias' 'pablo vi' 'area de expansion altavista'
 'suburbano el plan' 'versalles no.1' 'piedras blancas' 'el picacho'
 'san jose la cima no. 1' '6001' 'suburbano el tesoro'
 'la loma de los bernal' 'la sierra' 'suburbano el llano'
 'santo domingo savio no.1' 'volcana guayabal' 'el corazon el morro'
 '7001' 'san jose la cima no.2' 'yolombo' 'aures no.2' 'barrios de jesus'
 'batallon girardot' 'palmitas sector central' '0'
 'area de expansion belen rincon' 'el vergel' 'suburbano palma patio'
 'san jose de la montaña' 'suburb el plan' 'asomadera no.1'
 'piedras blancas represa' 'la loma' 'potrerito' 'moscu no.2'
 'suburbano la cuchilla' '1018' '1507' '1504' '1408' '1011' '1419' '1503'
 '0907' 'sin inf' '1422' '1020' '0408' '1510' 'santa elena sector central'
 '1114' '0205' '1423' '0402' '0103' '0717' '0505' '1019' '1001' '0509'
 '0301' '1101' '0303' '0409' '0811' '0712' '1603' '1003' '0307' '1204'
 '0208' '0809' '0306' '0906' '1007' '0413' 'suburbano aguas frias' '1103'
 '1108' '1511' '0109' '1206' '0914' '0711' 'san jose del manzanillo'
 '1613' '0813' '0514' '1611' '1306' '0819' '7002'
 'suburbano la palma-el patio' '1012' 'versalles no.2' 'media luna'
 'piedras blancas - matasano' 'suburbano potrerito' 'villa lilliam' 'auc1'
 '9004' 'el plan' 'el uvito' '9086' 'el llano se' 'yarumalito' '0312'
 '1102' '1202' '0302' '1105' '1205' 'el astillero' '0310' '0309' '1211'
 '0803' '0105' '0606' '0716' '1605' '0211' '5002' 'suburbano piedra gorda'
 '0912' 'sin nombre' 'travesias' 'moscu no.1' '0903' '1004' '1015' '1620'
 '1612' '1008' '0815' '0304' '0202' 'boqueron']

In [19]:
#COMUNA
#Denominación con la cual se identifica cada Comuna o Corregimiento. 01:Popular 02:Santa Cruz 03:Manrique 04:Aranjuez 05:Castilla 06:Doce de Octubre 07:Robledo 08:Villa Hermosa 09:Buenos Aires 10:La Candelaria 11:Laureles - Estadio 12:La América 13:San Javier 14:El Poblado 15:Guayabal 16:Belén 50:San Sebastián de Palmitas 60:San Cristobal 70:Altavista 80:San Antonio de Prado 90:Santa Elena 99:Toda la Ciudad
##variable redundante
#ó por o
df["COMUNA"]=df["COMUNA"].apply(lambda x : str(x).lower().replace("\\xf3","o").replace("ó","o"))
#á por a 
df["COMUNA"]=df["COMUNA"].apply(lambda x : str(x).replace("\\xc1","a").replace("\\xe1","a").replace("á","a"))
#é por e 
df["COMUNA"]=df["COMUNA"].apply(lambda x : str(x).replace("\\xe9","e").replace("é","e"))
print((df["COMUNA"].unique()))

['la candelaria' 'santa cruz' 'popular' 'guayabal' 'el poblado'
 'laureles estadio' 'robledo' 'doce de octubre' 'aranjuez' 'buenos aires'
 'castilla' 'corregimiento de san antonio de prado' 'san javier'
 'villa hermosa' 'belen' 'manrique' 'la america'
 'corregimiento de altavista' 'corregimiento de san cristobal'
 'corregimiento de santa elena' 'in'
 'corregimiento de san sebastian de palmitas' 'au']

In [20]:
#LOCATION
#Fuente de información con la cual se realizó la geocodificación
print((df["LOCATION"].head(10)))

0    [-75.5688011014, 6.24312304123]
1    [-75.5693883283, 6.22870030622]
2    [-75.5503911403, 6.29869502502]
3    [-75.5442195069, 6.30019383306]
4     [-75.578180998, 6.21699243701]
5      [-75.561118009, 6.2047775959]
6    [-75.5810144962, 6.24576066323]
7    [-75.5752597216, 6.24685341912]
8    [-75.5624178534, 6.25341454089]
9    [-75.5931430393, 6.27330476643]
Name: LOCATION, dtype: object

In [21]:
#X
#Coordenada X en metros del accidente, en sistema de coordenadas MAGNA Medellin Local
print(df["X"].head(10))

0    834949.69
1    834880.17
2    837004.94
3    837688.53
4    833903.11
5    835788.30
6    833598.49
7    834235.89
8    835659.53
9    832264.64
Name: X, dtype: float64

In [22]:
#Y
#Coordenada Y en metros del accidente, en sistema de coordenadas MAGNA Medellin Local
print(df["Y"].head(10))

0    1182357.34
1    1180762.02
2    1188499.17
3    1188663.05
4    1179469.60
5    1178113.02
6    1182652.97
7    1182772.04
8    1183493.83
9    1185703.90
Name: Y, dtype: float64

In [23]:
#Eliminar duplicados
df.drop_duplicates(inplace=True)
#borrar columnas con datos redudantes o poco aportantes
df.drop(labels=["DIRECCION ENCASILLADA","EXPEDIENTE","FECHA_ACCIDENTES","NRO_RADICADO","COMUNA"],axis=1,inplace=True)

In [24]:
df.to_csv("datosLimpios.csv")
#guardamos los datos en una nueva varible
data=df.copy()
df

,AÑO,CBML,CLASE_ACCIDENTE,DIRECCION,DISEÑO,FECHA_ACCIDENTE,GRAVEDAD_ACCIDENTE,MES,NUMCOMUNA,BARRIO,LOCATION,X,Y
0,2015,1013,caida ocupante,CR 46 CL 43,tramo de via,2015-10-21 05:58:00,con heridos,10,10,barrio colon,"[-75.5688011014, 6.24312304123]",834949.69,1182357.34
1,2015,1020,choque,CR 43 A CL 29,tramo de via,2015-11-05 03:00:00,solo daños,11,10,san diego,"[-75.5693883283, 6.22870030622]",834880.17,1180762.02
2,2015,0205,otro,CR 46 CL 37,tramo de via,2015-10-21 07:40:00,con heridos,10,2,la francia,"[-75.5503911403, 6.29869502502]",837004.94,1188499.17
3,2015,0101,atropello,CR 34 CL 112,tramo de via,2015-10-21 12:00:00,con heridos,10,1,santo domingo savio no. 1,"[-75.5442195069, 6.30019383306]",837688.53,1188663.05
4,2015,1504,choque,CR 50 CL 14,tramo de via,2015-11-03 06:16:00,solo daños,11,15,santa fe,"[-75.578180998, 6.21699243701]",833903.11,1179469.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270760,2020,1004,caida ocupante,CR 62 CL 59,tramo de via,2020-08-31 18:50:00,con heridos,8,10,el chagualo,"[-75.5731343044, 6.26063534822]",834475.51,1184295.99
270761,2020,1115,otro,CL 50 CR 74,tramo de via,2020-08-31 18:50:00,con heridos,8,11,cuarta brigada,"[-75.5902062951, 6.26040455473]",832585.61,1184275.87
270762,2020,515,choque,CL 80 CR 65,tramo de via,2020-08-31 19:05:00,solo daños,8,5,cementerio universal,"[-75.5735398111, 6.27625838886]",834435.55,1186024.41
270763,2020,207,atropello,CL 104 CR 45,tramo de via,2020-08-31 19:30:00,con heridos,8,2,villa del socorro,"[-75.5515085985, 6.29359892373]",836879.66,1187935.77
270764,2020,303,atropello,CR 44 CL 79,lote o predio,2020-08-31 21:45:00,con heridos,8,3,campo valdes no. 2,"[-75.5533856947, 6.2717784831]",836665.08,1185522.50

In [25]:
#df=pd.read_csv("datosLimpios.csv")

## 1 - Entrenamiento de un modelo predictivo
Se deberá construir un modelo que permita predecir la accidentalidad por tipo de accidente a nivel semanal, mensual y diario. Para esto se deberán considerar fechas especiales.

vamos a suponer que para los dias que no hay registro de algun tipo de accidente, el numero de accidentes de este tipo para este dia es 0

In [26]:
#creamos un dataframe con todos las posibles combinaciones de dia, en tre el rango de fechas,
from datetime import datetime, timedelta
inicio = datetime(2014,7,4)
fin    = datetime(2020,8,31)

df_aux = pd.DataFrame([inicio + timedelta(days=d) for d in range((fin - inicio).days + 1)],columns=["DIA"])
df_aux["DIA"]=df_aux["DIA"].apply(lambda x : str(x)[:10])
df_aux["key"]=1
clase_accidente=pd.DataFrame(df.CLASE_ACCIDENTE.unique(),columns=["CLASE_ACCIDENTE"])
clase_accidente["key"]=1
df_aux=pd.merge(df_aux, clase_accidente, on ='key')
numcomuna=pd.DataFrame(df.NUMCOMUNA.unique(),columns=["NUMCOMUNA"])
numcomuna["key"]=1
df_aux=pd.merge(df_aux, numcomuna, on ='key').drop(["key"],axis=1)
df_aux

               DIA CLASE_ACCIDENTE NUMCOMUNA
0       2014-07-04  caida ocupante        10
1       2014-07-04  caida ocupante         2
2       2014-07-04  caida ocupante         1
3       2014-07-04  caida ocupante        15
4       2014-07-04  caida ocupante        14
...            ...             ...       ...
216091  2020-08-31        incendio         8
216092  2020-08-31        incendio        13
216093  2020-08-31        incendio        16
216094  2020-08-31        incendio         3
216095  2020-08-31        incendio        12

[216096 rows x 3 columns]

In [27]:
df=data
df["DIA"]=df["FECHA_ACCIDENTE"].apply(lambda x: str(x.date()))
#agrupamos los datos por dia clase de accidente  y comuna
df=df.groupby(["DIA","CLASE_ACCIDENTE","NUMCOMUNA"]).count()
df.reset_index(inplace=True)
df["CANTIDAD"]=df["AÑO"]
#obtenemos los datos de nuestro interes
df=df[["DIA","CLASE_ACCIDENTE","CANTIDAD","NUMCOMUNA"]]
df

              DIA CLASE_ACCIDENTE  CANTIDAD NUMCOMUNA
0      2014-07-04          choque         8        10
1      2014-07-04          choque         4        11
2      2014-07-04          choque         1        12
3      2014-07-04          choque         2        14
4      2014-07-04          choque         2        15
...           ...             ...       ...       ...
85313  2020-08-31     volcamiento         2        14
85314  2020-08-31     volcamiento         1        15
85315  2020-08-31     volcamiento         1        16
85316  2020-08-31     volcamiento         1         2
85317  2020-08-31     volcamiento         1         9

[85318 rows x 4 columns]

In [28]:
df=pd.merge(df_aux, df, on =["DIA","CLASE_ACCIDENTE","NUMCOMUNA"],how='left')
df["CANTIDAD"]=df["CANTIDAD"].fillna(0)
df

               DIA CLASE_ACCIDENTE NUMCOMUNA  CANTIDAD
0       2014-07-04  caida ocupante        10       0.0
1       2014-07-04  caida ocupante         2       0.0
2       2014-07-04  caida ocupante         1       0.0
3       2014-07-04  caida ocupante        15       0.0
4       2014-07-04  caida ocupante        14       0.0
...            ...             ...       ...       ...
216091  2020-08-31        incendio         8       0.0
216092  2020-08-31        incendio        13       0.0
216093  2020-08-31        incendio        16       0.0
216094  2020-08-31        incendio         3       0.0
216095  2020-08-31        incendio        12       0.0

[216096 rows x 4 columns]

In [29]:
import holidays_co as co
from datetime import timedelta
#hacemos una limpieza final  con el fin de obtener unos datos mejores para ser pocesados por la red neuronal
#dia_festivo 1 si 0 no
df["dia_festivo".upper()]=df["DIA"].apply(lambda x : str(co.is_holiday_date(datetime.strptime(x,'%Y-%m-%d'))))
#año del accidente
df["AÑO"]=df["DIA"].apply(lambda x : pd.Timestamp(x).year-2014)
#tiempo en meses desde el primer data conocido 
df["t"]=df["DIA"].apply(lambda x : (pd.Timestamp(x).year-2014)*12+pd.Timestamp(x).month-7)
#dia de la semana en numero
df["dia_de_la_semana".upper()]=df["dia".upper()].apply(lambda x : str(pd.Timestamp(x).day_of_week))
#mes de ocurencia
df["MES"]=df["DIA"].apply(lambda x : str(pd.Timestamp(x).month))
#dia que ocurrio el accidente en el mes
df["dia_del_mes".upper()]=df["dia".upper()].apply(lambda x :str( pd.Timestamp(x).day))

dfaux=df.copy()
df.sample(10)

,DIA,CLASE_ACCIDENTE,NUMCOMUNA,CANTIDAD,DIA_FESTIVO,AÑO,t,DIA_DE_LA_SEMANA,MES,DIA_DEL_MES
170254,2019-05-12,otro,3,0.0,False,5,58,6,5,12
70570,2016-07-08,caida ocupante,5,0.0,False,2,24,4,7,8
33775,2015-06-20,volcamiento,12,0.0,False,1,11,5,6,20
84366,2016-11-28,volcamiento,3,0.0,False,2,28,0,11,28
61013,2016-03-30,atropello,11,0.0,False,2,20,2,3,30
51635,2015-12-23,incendio,15,0.0,False,1,17,2,12,23
127400,2018-02-20,caida ocupante,4,0.0,False,4,43,1,2,20
65834,2016-05-19,volcamiento,5,0.0,False,2,22,3,5,19
205047,2020-05-08,incendio,6,0.0,False,6,70,4,5,8
168182,2019-04-20,incendio,7,0.0,False,5,57,5,4,20

Sea X el con junto de parametros

### Entrenamiento y validación
Los modelos predictivos se deberán construir con los datos de los años 2014, 2015, 2016,2017, 2018. Se usan los accidentes del año 2019 y 2020 (¡alerta!) para validar los modelos.
Se deberá analizar el comportamiento del modelo predictivo en los años 2021 y 2022 y explicar las posibles desviaciones.

In [30]:
dfaux=df.copy()
#separacion de datos de entranamiento y validacion
train=dfaux[(dfaux["AÑO"]) <5].drop(["DIA"],axis=1).drop(["AÑO"],axis=1)
test=dfaux.drop(train.index).drop(["DIA"],axis=1).drop(["AÑO"],axis=1)
X_train=train.copy()
Y_train=X_train.pop("CANTIDAD")
X_test=test.copy()
Y_test=X_test.pop("CANTIDAD")

In [31]:
#aplicar onehotencode a las variables categoricas
X_train=pd.get_dummies(X_train,drop_first=True)
X_test=pd.get_dummies(X_test,drop_first=True)

In [32]:

normed_train_data = (X_train)
normed_test_data = (Y_test)

In [36]:
#funcion que construye el modelo
#3 capas ocultas de 128 neronas cada una
#2 dropout par evitar el averfiting de 0.2 entre las caps ocultas
def build_model():
    model = keras.Sequential([
    layers.Dense(128, activation='relu', input_shape=[len(X_train.keys())]),
    layers.Dropout(0.2),
    layers.Dense(128, activation='relu'),
    layers.Dropout(0.2),
    layers.Dense(128, activation='relu'),
    layers.Dense(1)
    ])
    optimizer = tf.keras.optimizers.RMSprop(0.001)
    optimizer2 = tf.keras.optimizers.Adam(learning_rate=0.001)
    model.compile(loss='mae',
                optimizer=optimizer2,
                metrics=['mae', 'mse',"mean_absolute_percentage_error"])
    return model

In [37]:
model = build_model()
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 128)               8960

 dropout_2 (Dropout)         (None, 128)               0

 dense_5 (Dense)             (None, 128)               16512

 dropout_3 (Dropout)         (None, 128)               0

 dense_6 (Dense)             (None, 128)               16512

 dense_7 (Dense)             (None, 1)                 129

=================================================================
Total params: 42,113
Trainable params: 42,113
Non-trainable params: 0
_________________________________________________________________

se entrena el modelo 2 veces cada una con 250 epocas

In [ ]:
class PrintDot(keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs):
    if epoch % 50 == 0: print("\n","epoca",epoch,logs)
    print('.', end='')

EPOCHS = 500

history = model.fit(
  normed_train_data, Y_train,
  epochs=EPOCHS, validation_data=(X_test,Y_test))

Epoch 1/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.7825 - mae: 0.7825 - mse: 3.0035 - mean_absolute_percentage_error: 90476064.0000 - val_loss: 0.7223 - val_mae: 0.7223 - val_mse: 2.6704 - val_mean_absolute_percentage_error: 41383972.0000
Epoch 2/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6875 - mae: 0.6875 - mse: 1.9761 - mean_absolute_percentage_error: 83529328.0000 - val_loss: 0.6861 - val_mae: 0.6861 - val_mse: 2.2439 - val_mean_absolute_percentage_error: 83619000.0000
Epoch 3/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6706 - mae: 0.6706 - mse: 1.8635 - mean_absolute_percentage_error: 90377720.0000 - val_loss: 0.7173 - val_mae: 0.7173 - val_mse: 2.2346 - val_mean_absolute_percentage_error: 141214032.0000
Epoch 4/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6618 - mae: 0.6618 - mse: 1.8202 - mean_absolute_percentage_error: 86933744.0000 - val_loss: 0.6554 - val_mae: 0.6554 - val_mse: 1.9619 - val_mean_absolute_percentage_error: 57853820.0000
Epoch 5/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6541 - mae: 0.6541 - mse: 1.7610 - mean_absolute_percentage_error: 87531592.0000 - val_loss: 0.6576 - val_mae: 0.6576 - val_mse: 1.9703 - val_mean_absolute_percentage_error: 100044400.0000
Epoch 6/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6490 - mae: 0.6490 - mse: 1.7140 - mean_absolute_percentage_error: 91906776.0000 - val_loss: 0.6608 - val_mae: 0.6608 - val_mse: 1.9879 - val_mean_absolute_percentage_error: 88172232.0000
Epoch 7/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6469 - mae: 0.6469 - mse: 1.7221 - mean_absolute_percentage_error: 86040104.0000 - val_loss: 0.6619 - val_mae: 0.6619 - val_mse: 2.0432 - val_mean_absolute_percentage_error: 54778116.0000
Epoch 8/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6468 - mae: 0.6468 - mse: 1.7088 - mean_absolute_percentage_error: 89814488.0000 - val_loss: 0.6649 - val_mae: 0.6649 - val_mse: 2.0126 - val_mean_absolute_percentage_error: 89992360.0000
Epoch 9/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6419 - mae: 0.6419 - mse: 1.6929 - mean_absolute_percentage_error: 86497080.0000 - val_loss: 0.6572 - val_mae: 0.6572 - val_mse: 1.9692 - val_mean_absolute_percentage_error: 93750656.0000
Epoch 10/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6418 - mae: 0.6418 - mse: 1.6635 - mean_absolute_percentage_error: 88191680.0000 - val_loss: 0.7020 - val_mae: 0.7020 - val_mse: 2.5429 - val_mean_absolute_percentage_error: 38548080.0000
Epoch 11/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6376 - mae: 0.6376 - mse: 1.6513 - mean_absolute_percentage_error: 86505184.0000 - val_loss: 0.6587 - val_mae: 0.6587 - val_mse: 1.9922 - val_mean_absolute_percentage_error: 79338816.0000
Epoch 12/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6366 - mae: 0.6366 - mse: 1.6351 - mean_absolute_percentage_error: 86298216.0000 - val_loss: 0.6591 - val_mae: 0.6591 - val_mse: 1.9428 - val_mean_absolute_percentage_error: 109368224.0000
Epoch 13/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6345 - mae: 0.6345 - mse: 1.6330 - mean_absolute_percentage_error: 85274168.0000 - val_loss: 0.6847 - val_mae: 0.6847 - val_mse: 2.0272 - val_mean_absolute_percentage_error: 168713008.0000
Epoch 14/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6347 - mae: 0.6347 - mse: 1.6269 - mean_absolute_percentage_error: 93210952.0000 - val_loss: 0.6740 - val_mae: 0.6740 - val_mse: 2.1977 - val_mean_absolute_percentage_error: 100581872.0000
Epoch 15/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6314 - mae: 0.6314 - mse: 1.6089 - mean_absolute_percentage_error: 88352912.0000 - val_loss: 0.6652 - val_mae: 0.6652 - val_mse: 2.0316 - val_mean_absolute_percentage_error: 108524232.0000
Epoch 16/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6318 - mae: 0.6318 - mse: 1.6135 - mean_absolute_percentage_error: 86470544.0000 - val_loss: 0.6865 - val_mae: 0.6865 - val_mse: 2.0332 - val_mean_absolute_percentage_error: 172747728.0000
Epoch 17/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6332 - mae: 0.6332 - mse: 1.6273 - mean_absolute_percentage_error: 86695120.0000 - val_loss: 0.6783 - val_mae: 0.6783 - val_mse: 2.2559 - val_mean_absolute_percentage_error: 79407168.0000
Epoch 18/500
4926/4926 [==============================] - 17s 3ms/step - loss: 0.6290 - mae: 0.6290 - mse: 1.6004 - mean_absolute_percentage_error: 90935248.0000 - val_loss: 0.6603 - val_mae: 0.6603 - val_mse: 1.9550 - val_mean_absolute_percentage_error: 117821888.0000
Epoch 19/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6307 - mae: 0.6307 - mse: 1.6125 - mean_absolute_percentage_error: 87696832.0000 - val_loss: 0.7424 - val_mae: 0.7424 - val_mse: 3.2584 - val_mean_absolute_percentage_error: 58267980.0000
Epoch 20/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6305 - mae: 0.6305 - mse: 1.6126 - mean_absolute_percentage_error: 88193816.0000 - val_loss: 0.6689 - val_mae: 0.6689 - val_mse: 2.1387 - val_mean_absolute_percentage_error: 81507560.0000
Epoch 21/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6283 - mae: 0.6283 - mse: 1.5879 - mean_absolute_percentage_error: 89382248.0000 - val_loss: 0.6730 - val_mae: 0.6730 - val_mse: 2.2211 - val_mean_absolute_percentage_error: 84853744.0000
Epoch 22/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6292 - mae: 0.6292 - mse: 1.6037 - mean_absolute_percentage_error: 87456632.0000 - val_loss: 0.6583 - val_mae: 0.6583 - val_mse: 1.9867 - val_mean_absolute_percentage_error: 93116496.0000
Epoch 23/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6274 - mae: 0.6274 - mse: 1.5954 - mean_absolute_percentage_error: 86255728.0000 - val_loss: 0.6806 - val_mae: 0.6806 - val_mse: 2.0627 - val_mean_absolute_percentage_error: 129119464.0000
Epoch 24/500
4926/4926 [==============================] - 14s 3ms/step - loss: 0.6270 - mae: 0.6270 - mse: 1.5871 - mean_absolute_percentage_error: 89217104.0000 - val_loss: 0.6650 - val_mae: 0.6650 - val_mse: 1.9638 - val_mean_absolute_percentage_error: 124915496.0000
Epoch 25/500
4926/4926 [==============================] - 14s 3ms/step - loss: 0.6267 - mae: 0.6267 - mse: 1.5748 - mean_absolute_percentage_error: 91590408.0000 - val_loss: 0.6798 - val_mae: 0.6798 - val_mse: 2.0677 - val_mean_absolute_percentage_error: 132271664.0000
Epoch 26/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6257 - mae: 0.6257 - mse: 1.5801 - mean_absolute_percentage_error: 94406960.0000 - val_loss: 0.7095 - val_mae: 0.7095 - val_mse: 2.6891 - val_mean_absolute_percentage_error: 47518556.0000
Epoch 27/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6261 - mae: 0.6261 - mse: 1.5802 - mean_absolute_percentage_error: 88589968.0000 - val_loss: 0.6602 - val_mae: 0.6602 - val_mse: 1.9963 - val_mean_absolute_percentage_error: 89510984.0000
Epoch 28/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6245 - mae: 0.6245 - mse: 1.5680 - mean_absolute_percentage_error: 91796656.0000 - val_loss: 0.6570 - val_mae: 0.6570 - val_mse: 2.0284 - val_mean_absolute_percentage_error: 65284564.0000
Epoch 29/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6264 - mae: 0.6264 - mse: 1.5794 - mean_absolute_percentage_error: 89422288.0000 - val_loss: 0.6788 - val_mae: 0.6788 - val_mse: 2.0565 - val_mean_absolute_percentage_error: 140304848.0000
Epoch 30/500
4926/4926 [==============================] - 17s 3ms/step - loss: 0.6242 - mae: 0.6242 - mse: 1.5739 - mean_absolute_percentage_error: 89425848.0000 - val_loss: 0.6607 - val_mae: 0.6607 - val_mse: 2.0686 - val_mean_absolute_percentage_error: 62748892.0000
Epoch 31/500

4926/4926 [==============================] - 16s 3ms/step - loss: 0.6235 - mae: 0.6235 - mse: 1.5690 - mean_absolute_percentage_error: 88133232.0000 - val_loss: 0.6685 - val_mae: 0.6685 - val_mse: 1.9491 - val_mean_absolute_percentage_error: 140420064.0000
Epoch 32/500
4926/4926 [==============================] - 17s 3ms/step - loss: 0.6253 - mae: 0.6253 - mse: 1.5725 - mean_absolute_percentage_error: 90577864.0000 - val_loss: 0.6608 - val_mae: 0.6608 - val_mse: 1.9749 - val_mean_absolute_percentage_error: 95431592.0000
Epoch 33/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6247 - mae: 0.6247 - mse: 1.5649 - mean_absolute_percentage_error: 86837584.0000 - val_loss: 0.6900 - val_mae: 0.6900 - val_mse: 2.0279 - val_mean_absolute_percentage_error: 182769552.0000
Epoch 34/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6237 - mae: 0.6237 - mse: 1.5586 - mean_absolute_percentage_error: 93525008.0000 - val_loss: 0.6878 - val_mae: 0.6878 - val_mse: 2.0440 - val_mean_absolute_percentage_error: 139874448.0000
Epoch 35/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6236 - mae: 0.6236 - mse: 1.5591 - mean_absolute_percentage_error: 90735992.0000 - val_loss: 0.6707 - val_mae: 0.6707 - val_mse: 2.0497 - val_mean_absolute_percentage_error: 130253296.0000
Epoch 36/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6224 - mae: 0.6224 - mse: 1.5470 - mean_absolute_percentage_error: 96744224.0000 - val_loss: 0.6818 - val_mae: 0.6818 - val_mse: 2.0264 - val_mean_absolute_percentage_error: 154397728.0000
Epoch 37/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6204 - mae: 0.6204 - mse: 1.5261 - mean_absolute_percentage_error: 93072072.0000 - val_loss: 0.6659 - val_mae: 0.6659 - val_mse: 2.0634 - val_mean_absolute_percentage_error: 108766096.0000
Epoch 38/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6190 - mae: 0.6190 - mse: 1.5289 - mean_absolute_percentage_error: 90519128.0000 - val_loss: 0.6614 - val_mae: 0.6614 - val_mse: 2.0006 - val_mean_absolute_percentage_error: 102051352.0000
Epoch 39/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6206 - mae: 0.6206 - mse: 1.5427 - mean_absolute_percentage_error: 88764736.0000 - val_loss: 0.6574 - val_mae: 0.6574 - val_mse: 1.9248 - val_mean_absolute_percentage_error: 115164936.0000
Epoch 40/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6208 - mae: 0.6208 - mse: 1.5524 - mean_absolute_percentage_error: 86438960.0000 - val_loss: 0.6663 - val_mae: 0.6663 - val_mse: 1.9517 - val_mean_absolute_percentage_error: 130425704.0000
Epoch 41/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6206 - mae: 0.6206 - mse: 1.5540 - mean_absolute_percentage_error: 86099272.0000 - val_loss: 0.6617 - val_mae: 0.6617 - val_mse: 2.0463 - val_mean_absolute_percentage_error: 95070376.0000
Epoch 42/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6191 - mae: 0.6191 - mse: 1.5413 - mean_absolute_percentage_error: 86092584.0000 - val_loss: 0.6593 - val_mae: 0.6593 - val_mse: 2.0245 - val_mean_absolute_percentage_error: 69421952.0000
Epoch 43/500
4926/4926 [==============================] - 15s 3ms/step - loss: 0.6185 - mae: 0.6185 - mse: 1.5477 - mean_absolute_percentage_error: 82919424.0000 - val_loss: 0.6736 - val_mae: 0.6736 - val_mse: 2.0086 - val_mean_absolute_percentage_error: 149757280.0000
Epoch 44/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6170 - mae: 0.6170 - mse: 1.5235 - mean_absolute_percentage_error: 90149856.0000 - val_loss: 0.6873 - val_mae: 0.6873 - val_mse: 2.3475 - val_mean_absolute_percentage_error: 87498464.0000
Epoch 45/500
4926/4926 [==============================] - 16s 3ms/step - loss: 0.6179 - mae: 0.6179 - mse: 1.5260 - mean_absolute_percentage_error: 89198632.0000 - val_loss: 0.6589 - val_mae: 0.6589 - val_mse: 2.0114 - val_mean_absolute_percentage_error: 66797968.0000
Epoch 46/500
4922/4926 [============================>.] - ETA: 0s - loss: 0.6169 - mae: 0.6169 - mse: 1.5186 - mean_absolute_percentage_error: 88163008.0000

In [ ]:
hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch
hist.tail()
hist.sort_values(by=['mean_absolute_percentage_error', 'val_mean_absolute_percentage_error']).head()

# evaluacion del modelo

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
# Evalúe el modelo con los conjuntos de entrenamiento y prueba.
Y_train_pred = model.predict(X_train)
Y_test_pred = model.predict(X_test)

    # Compute el error cuadratico medio de entrenamiento y prueba. Redondee los
    # valores a dos decimales.

r2_score_train = r2_score(
        Y_train,
        Y_train_pred,
    ).round(2)

r2_score_test = r2_score(
        Y_test,
        Y_test_pred,
    ).round(2)

In [ ]:
print("r2 score")
print("entrenamiento: ",r2_score_train,"validacion: ",r2_score_test)

In [ ]:
def plot_history(history):
  hist = pd.DataFrame(history.history)
  hist['epoch'] = history.epoch

  plt.figure()
  plt.xlabel('Epoch')
  plt.ylabel('Mean Abs Error [MPG]')
  plt.plot(hist['epoch'], hist['mae'],
           label='Train Error')
  plt.plot(hist['epoch'], hist['val_mae'],
           label = 'Val Error')
  #plt.ylim([0,5])
  plt.legend()

  plt.figure()
  plt.xlabel('Epoch')
  plt.ylabel('Mean Square Error [$MPG^2$]')
  plt.plot(hist['epoch'], hist['mse'],
           label='Train Error')
  plt.plot(hist['epoch'], hist['val_mse'],
           label = 'Val Error')
  #plt.ylim([0,20])
  plt.legend()
  plt.figure()
  plt.xlabel('Epoch')
  plt.ylabel('mean_absolute_percentage_error')
  plt.plot(hist['epoch'], hist['mean_absolute_percentage_error'],
           label='Train Error')
  plt.plot(hist['epoch'], hist['val_mean_absolute_percentage_error'],
           label = 'Val Error')
  #plt.ylim([0,20])
  plt.legend()
  plt.show()


plot_history(history)

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error,median_absolute_error
mae_train = median_absolute_error(
        Y_train,
        Y_train_pred,
    ).round(2)

mae_test = median_absolute_error(
        Y_test,
        Y_test_pred,
    ).round(2)

In [ ]:
print("median absolute error")
print("entrenamiento:",mae_train,"validacion:",mae_test)

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error,median_absolute_error
mape_train = mean_absolute_percentage_error(
        Y_train,
        Y_train_pred,
    ).round(2)

mape_test = mean_absolute_percentage_error(
        Y_test,
        Y_test_pred,
    ).round(2)

In [ ]:
print("mean absolute percentage error")
print("entrenamiento:",mape_train,"validacion:",mape_test)

In [ ]:
resultTest=pd.DataFrame()
resultTest["esperado"]=Y_train
resultTest["predicho"]=Y_train_pred

In [ ]:
resultTest.sample(10)

In [ ]:
from tensorflow.keras.models import load_model

#model.save('modelo-V3_1.h5')
#model=load_model('modelo-V3_1.h5')

# prediccion final

creamos una dataframe nuevo para predecir las posibles accidentes en medellin y sus comunas en los años 2021 y 2022

In [ ]:
test.columns
#84

In [ ]:
from datetime import datetime, timedelta
inicio = datetime(2021,1,1)
fin    = datetime(2022,12,31)

X_test_final = pd.DataFrame([inicio + timedelta(days=d) for d in range((fin - inicio).days + 1)],columns=["DIA"])
X_test_final

In [ ]:
X_test_final["key"]=1
clase_accidente=pd.DataFrame(train.CLASE_ACCIDENTE.unique(),columns=["CLASE_ACCIDENTE"])
clase_accidente["key"]=1
X_test_final=pd.merge(X_test_final, clase_accidente, on ='key')
X_test_final.head(10)

In [ ]:
numcomuna=pd.DataFrame(train.NUMCOMUNA.unique(),columns=["NUMCOMUNA"])
numcomuna["key"]=1
X_test_final=pd.merge(X_test_final, numcomuna, on ='key').drop(["key"],axis=1)
X_test_final.head(10)

In [ ]:
#dia_festivo 1 si 0 no
X_test_final["dia_festivo".upper()]=X_test_final["DIA"].apply(lambda x : str(co.is_holiday_date(x)))
#tiempo en meses desde el primer data conocido 
X_test_final["t"]=X_test_final["DIA"].apply(lambda x : (pd.Timestamp(x).year-2014)*12+pd.Timestamp(x).month-7)
#dia de la semana en numero
X_test_final["dia_de_la_semana".upper()]=X_test_final["dia".upper()].apply(lambda x : str(pd.Timestamp(x).day_of_week))
#mes de ocurencia
X_test_final["MES"]=X_test_final["DIA"].apply(lambda x : str(pd.Timestamp(x).month))
#dia que ocurrio el accidente en el mes
X_test_final["dia_del_mes".upper()]=X_test_final["dia".upper()].apply(lambda x :str( pd.Timestamp(x).day))
X_test_final.drop(["DIA"],axis=1,inplace=True)
X_test_final

aplicamos onehot encode al nuevo dataframe

In [ ]:
X_test_final=pd.get_dummies(X_test_final,drop_first=True)
X_test_final.columns

In [ ]:
prediccion_final=pd.DataFrame(model.predict(X_test_final))
prediccion_final

# analisis de los resultados

In [ ]:
datos=pd.concat([X_train[:],X_test[:],X_test_final], ignore_index=True)

datos.shape

In [ ]:
resultados=pd.concat([pd.DataFrame(Y_train_pred),pd.DataFrame(Y_test_pred),prediccion_final], ignore_index=True)
resultados.shape

In [ ]:
print(len(X_train)+len(X_test),len(X_test_final))
print(len(pd.DataFrame(Y_train_pred)),len(pd.DataFrame(Y_test_pred)),len(prediccion_final))

In [ ]:
print(X_train.shape,X_test.shape,X_test_final.shape)