
# prediccion de incidentes viales en la ciudad de Medellin

## importacion librerias necesarias

In [1]:
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

## lectura y exploracion de los datos

In [2]:
#lectura dataframe saltando las filas malas
df=pd.read_csv("incidentes_viales.csv",on_bad_lines='skip',index_col=False,sep=";",encoding="UTF-8")
print(df.head())

    AÑO  CBML CLASE_ACCIDENTE      DIRECCION       DIRECCION ENCASILLADA  \
0  2015  1013  Caida Ocupante    CR 46 CL 43    CR  046   043  000 00000
1  2015  1020          Choque  CR 43 A CL 29  CR  043 A   029  000 00000
2  2015  0205            Otro    CR 46 CL 37    CR  046   037  000 00000
3  2015  0101       Atropello   CR 34 CL 112    CR  034   112  000 00000
4  2015  1504          Choque    CR 50 CL 14    CR  050   014  000 00000

         DISEÑO  EXPEDIENTE      FECHA_ACCIDENTE          FECHA_ACCIDENTES  \
0  Tramo de via  A000259731  21/10/2015 05:58:00  2015-10-21T10:58:00.000Z
1  Tramo de via  A000261725  05/11/2015 03:00:00  2015-11-05T08:00:00.000Z
2  Tramo de via  A000259739  21/10/2015 07:40:00  2015-10-21T12:40:00.000Z
3  Tramo de via  A000259752  21/10/2015 12:00:00  2015-10-21T17:00:00.000Z
4  Tramo de via  A000259949  03/11/2015 06:16:00  2015-11-03T11:16:00.000Z

  GRAVEDAD_ACCIDENTE  MES NRO_RADICADO NUMCOMUNA                     BARRIO  \
0        Con heridos   10      1508668        10               Barrio Colón
1         Solo daños   11      1510621        10                  San Diego
2        Con heridos   10      1508691        02                 La Francia
3        Con heridos   10      1508694        01  Santo Domingo Savio No. 1
4         Solo daños   11      1510634        15                   Santa Fé

          COMUNA                         LOCATION          X           Y
0  La Candelaria  [-75.5688011014, 6.24312304123]  834949.69  1182357.34
1  La Candelaria  [-75.5693883283, 6.22870030622]  834880.17  1180762.02
2     Santa Cruz  [-75.5503911403, 6.29869502502]  837004.94  1188499.17
3        Popular  [-75.5442195069, 6.30019383306]  837688.53  1188663.05
4       Guayabal   [-75.578180998, 6.21699243701]  833903.11  1179469.60

C:\Users\johan\anaconda3\envs\tensorflow_gpu\lib\site-packages\IPython\core\interactiveshell.py:3552: DtypeWarning: Columns (0,11) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
#revisamos las columnas
print(df.columns)
print("numero de columnas iniciales ",len(df.columns))
print("numero de filas iniciales ",df.shape[0])

Index(['AÑO', 'CBML', 'CLASE_ACCIDENTE', 'DIRECCION', 'DIRECCION ENCASILLADA',
       'DISEÑO', 'EXPEDIENTE', 'FECHA_ACCIDENTE', 'FECHA_ACCIDENTES',
       'GRAVEDAD_ACCIDENTE', 'MES', 'NRO_RADICADO', 'NUMCOMUNA', 'BARRIO',
       'COMUNA', 'LOCATION', 'X', 'Y'],
      dtype='object')
numero de columnas iniciales  18
numero de filas iniciales  270765

## limpieza de datos

In [4]:
#eliminacion de datos con nulos
df.dropna(inplace=True)
#eliminar datos duplicados
df.drop_duplicates(inplace=True)
print(df.shape[0])

250686

In [5]:
#AÑO-Año de ocurrencia del incidente
df["AÑO"]=df["AÑO"].apply(lambda x : re.findall(r"[0-9]{4}",str(x))[0])
print(df["AÑO"].unique())

['2015' '2014' '2016' '2017' '2018' '2019' '2020']

In [6]:
#CBML-Codigo catastral que corresponde al codigo comuna, barrio, manzana, lote catastral de un predio.
print(len(df["CBML"].unique()))

521

In [7]:
#CLASE_ACCIDENTE-Clasificación del IPAT sobre la clase de accidente de transito: choque, atropello, volcamiento,
#caida de ocupante, incendio, u otro (que no corresponde a las anteriores 5 clasificaciones, p. ej: sumersión)
df["CLASE_ACCIDENTE"]=df["CLASE_ACCIDENTE"].apply(lambda x : str(x).replace("Caída de Ocupante","Caida Ocupante").lower())
print((df["CLASE_ACCIDENTE"].unique()))

['caida ocupante' 'choque' 'otro' 'atropello' 'volcamiento' 'incendio']

In [8]:
#DIRECCION-Dirección donde ocurrió el incidente
##aparentemente se encuentra ya formateada
print((df["DIRECCION"].sample(10)))

154359     CL 43 CR 115 A
249636     CR 64 A CL 111
46120         CL 58 CR 45
147366     CL 65 CR 105 A
69594     CR 48 CL 12 Sur
36049         CL 45 CR 34
36137         CR 65 CL 45
223042      CL 64 C CR 94
77826        CR 78 CL 102
225509        CR 57 CL 46
Name: DIRECCION, dtype: object

In [9]:
#DIRECCION ENCASILLADA-	Dirección encasillada que entrega el geocodificador
##aparentemente se encuentra ya formateada
##variable con poca informacion util dada la variable anterior--escoger una de las 2
print((df["DIRECCION ENCASILLADA"].sample(10)))

63458         CR  050   014  000 00000
203644        CR  049   030  000 00000
21558         CR  062   044  000 00000
137289      CR  093 A   078  000 00000
61126       CR  064 C   104  000 00000
94827         CR  066   043  000 00000
210523    CL  101 C   033 E  000 00000
165685        CR  063   049  000 00000
263035        CL  050   032  000 00000
205071        CL  010   041  000 00000
Name: DIRECCION ENCASILLADA, dtype: object

In [10]:
#DISENO-Sitio de la vía donde ocurrió el accidente: Cicloruta, Glorieta, Interseccion, Lote o Predio, Paso a Nivel, Paso Elevado,
#Paso Inferior, Pontón, Puente, Tramo de via, Tunel, Via peatonal
df["DISEÑO"]=df["DISEÑO"].apply(lambda x : str(x).replace("Pont\\xF3n","Pontón").lower())
print((df["DISEÑO"].unique()))

['tramo de via' 'interseccion' 'glorieta' 'lote o predio' 'paso a nivel'
 'puente' 'paso elevado' 'ciclo ruta' 'paso inferior' 'via peatonal'
 'pontón' 'tunel']

In [11]:
#EXPEDIENTE
#Consecutivo que asigna UNE, según el orden de llegada de los expedientes para su diligenciamiento
##variable  aprarentemente con poco valor
print((df["EXPEDIENTE"].sample(10)))

200418    A000773221
189367    A000853402
202604    A000111975
95139     A000183991
256172    A001002877
263021    A001075549
45902     A000183778
171821    A001073315
225723    A000488476
46938     A000092320
Name: EXPEDIENTE, dtype: object

In [12]:
#FECHA_ACCIDENTE
#Fecha del accidente, proviene del IPAT - Informe Policial de accidente de Tránsito
df["FECHA_ACCIDENTE"] = pd.to_datetime(df["FECHA_ACCIDENTE"],dayfirst=True)
print((df["FECHA_ACCIDENTE"].sample(10)))

81924    2016-09-10 12:39:00
22625    2018-12-02 12:00:00
133677   2018-03-29 08:20:00
266773   2020-02-27 23:40:00
37831    2019-09-05 05:50:00
172939   2019-12-10 14:30:00
17157    2018-09-06 08:00:00
141747   2018-04-24 21:20:00
164905   2019-06-18 11:15:00
200019   2018-03-27 17:20:00
Name: FECHA_ACCIDENTE, dtype: datetime64[ns]

In [13]:
#FECHA_ACCIDENTES
#Fecha de los accidente (formato YYYY-MM-DD hh:mi:ss), proviene del IPAT - Informe Policial de accidentes de Tránsito
##veriable redundante con la anterior
print((df["FECHA_ACCIDENTES"].head(10)))

0    2015-10-21T10:58:00.000Z
1    2015-11-05T08:00:00.000Z
2    2015-10-21T12:40:00.000Z
3    2015-10-21T17:00:00.000Z
4    2015-11-03T11:16:00.000Z
5    2015-11-05T09:30:00.000Z
6    2015-10-18T09:40:00.000Z
7    2015-11-04T09:46:00.000Z
8    2015-10-21T12:00:00.000Z
9    2015-11-05T12:00:00.000Z
Name: FECHA_ACCIDENTES, dtype: object

In [14]:
#GRAVEDAD_ACCIDENTE
#Clasificación del IPAT - Informe Policial de Accidentes de Tránsito, sobre la gravedad del accidente, corresponde al resultado 
#más grave presentado en el accidente. Daños materiales "Sólo daños", accidente con heridos "Herido", accidente con muertos 
#"Muerto". No indica cantidad
df["GRAVEDAD_ACCIDENTE"]=df["GRAVEDAD_ACCIDENTE"].apply(lambda x : str(x).replace("Solo da\\xF1os","Solo daños").lower())
print((df["GRAVEDAD_ACCIDENTE"].unique()))

['con heridos' 'solo daños' 'con muertos']

In [15]:
#MES
#Mes de ocurrencia del incidente vial
print((df["MES"].unique()))

[10 11 12  9  4  3  5  6  7  8  1  2]

In [16]:
#NRO_RADICADO
#Consecutivo que asigna UNE, según el orden de llegada de los expedientes para su diligenciamiento
#no tiene mucho valor aparentemente para nuestros fines
print((df["NRO_RADICADO"].head()))

0    1508668
1    1510621
2    1508691
3    1508694
4    1510634
Name: NRO_RADICADO, dtype: object

In [17]:
#NUMCOMUNA
#Numero de la comununa en la que ocurrio incidente vial
#se eliminan las filas con valores que no corespondan con 
df=df[df["NUMCOMUNA"]!="AU"]
df=df[df["NUMCOMUNA"]!="Sin Inf"]
df=df[df["NUMCOMUNA"]!="In"]
df=df[df["NUMCOMUNA"]!="SN"]
df=df[df["NUMCOMUNA"]!="0"]
#asuminos que las comunas 60,70,80,90 son las comunas 6,7,8,9 respectivamente
df["NUMCOMUNA"]=df["NUMCOMUNA"].apply(lambda x : (int(x)))
df["NUMCOMUNA"]=df["NUMCOMUNA"].apply(lambda x : x/10 if x >20 else x)
df["NUMCOMUNA"]=df["NUMCOMUNA"].apply(lambda x : str(int(x)))
print(sorted(df["NUMCOMUNA"].unique()))

['1', '10', '11', '12', '13', '14', '15', '16', '2', '3', '4', '5', '6', '7', '8', '9']

In [18]:
#BARRIO
print(len(df["BARRIO"].unique()))
#Barrio de ocurrencia del incidente vial
#ó por o
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).lower().replace("\\xf3","o").replace("ó","o"))
#é por e 
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xe9","e").replace("é","e"))
#á por a 
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xc1","a").replace("\\xe1","a").replace("á","a"))
#ñ
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xf1","ñ"))
#\\xed í por i
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xed","i").replace("í","i"))
#\\xfa ú por u
df["BARRIO"]=df["BARRIO"].apply(lambda x : str(x).replace("\\xfa","u").replace("ú","u"))
print((df["BARRIO"].unique()))

488
['barrio colon' 'san diego' 'la francia' 'santo domingo savio no. 1'
 'santa fe' 'la florida' 'los conquistadores' 'la alpujarra' 'villa nueva'
 'facultad de minas u. nacional' 'la esperanza' 'perpetuo socorro'
 'campo valdes no. 1' 'miraflores' 'oleoducto' 'terminal de transporte'
 'gerona' 'u.d. atanasio girardot' 'alejandro echavarria'
 'cabecera san antonio de prado' 'manila' 'los balsos no.2' 'moravia'
 'tenche' 'universidad nacional' 'los colores' 'caribe'
 'juan xxiii la quiebra' 'belalcazar' 'santa cruz' 'sucre' 'la candelaria'
 'el estadio' 'suramericana' 'la gloria' 'centro administrativo'
 'las estancias' 'aures no. 2' 'los angeles' 'castilla' 'la salle'
 'la america' 'picacho' 'bosques de san pablo' 'la aguacatala'
 'playon de los comuneros' 'estacion villa' 'la colina' 'popular'
 'villa del socorro' 'cucaracho' 'santa maria de los angeles'
 'el chagualo' 'la mansion' 'san benito' 'la castellana' 'jesus nazareno'
 'loreto' 'asomadera no. 1' 'el salvador' 'cristo rey' 'moscu no. 2'
 'la mota' 'villa hermosa' 'cordoba' 'campo amor' 'naranjal' 'san isidro'
 'boyaca' 'belen' 'miranda' 'las palmas' 'patio bonito' 'el castillo'
 'guayabal' 'girardot' 'campo valdes no. 2' 'doce de octubre no.1'
 'el raizal' 'rosales' 'san martin de porres' 'berlin' 'kennedy'
 'el rincon' 'carlos e. restrepo' 'moscu no. 1' 'altavista sector central'
 'san javier no.1' 'bolivariana' 'prado' 'boston' 'veinte de julio'
 'alfonso lopez' 'hector abad gomez' 'parque juan pablo ii' 'lorena'
 'los alpes' 'parque norte' 'la ladera' 'trinidad' 'castropol' 'laureles'
 'la piñuela' 'aranjuez' 'robledo' 'buenos aires' 'san german'
 'bombona no. 1' 'area de expansion pajarito' 'santander' 'simon bolivar'
 'corazon de jesus' 'francisco antonio zea' 'cuarta brigada' 'los mangos'
 'versalles no. 2' 'calle nueva' 'fatima' 'asomadera no. 2' 'guayaquil'
 'villa carlota' 'la pilarica' 'los balsos no.1' 'la esperanza no. 2'
 'san pedro' 'manrique oriental' 'cerro nutibara'
 'nueva villa de la iguana' 'sevilla' 'manrique central no. 1'
 'tricentenario' 'el progreso' 'campo alegre' 'el pomar' 'florida nueva'
 'barrio caicedo' 'barrio colombia' 'cabecera urbana san cristobal'
 'los cerros el vergel' 'astorga' 'santa monica' 'la isla' 'san bernardo'
 'altamira' 'san javier no.2' 'la floresta' 'aures no.1' 'cataluña'
 'antonio nariño' 'lopez de mesa' 'granizal' 'las lomas no.1'
 'los alcazares' 'el velodromo' 'nueva villa de aburra' 'villa flora'
 'las acacias' 'llanaditas' 'florencia' 'las esmeraldas' 'los pinos'
 'el danubio' 'las granjas' 'el diamante' 'lalinde' 'el diamante no. 2'
 'ferrini' 'santa ines' 'palermo' 'la cruz' 'olaya herrera' 'belencito'
 'los naranjos' 'altavista' 'manrique central no. 2'
 'universidad de antioquia' 'pedregal' 'las brisas' 'el salado' 'toscana'
 'calasanz' 'el tesoro' 'brasilia' 'bermejal-los alamos' 'el poblado'
 'villa guadalupe' 'la frontera' 'enciso' 'villatina' 'aguas frias'
 'monteclaro' 'maria cano carambolas' 'cementerio universal'
 'campo valdes no.2' 'metropolitano' 'versalles no. 1' 'la libertad'
 'la rosa' 'san miguel' 'suburbano mirador del poblado' 'granada'
 'alejandria' 'loma de los bernal' 'doce de octubre no.2' 'la hondonada'
 'santa margarita' 'san joaquin' 'tejelo' 'san lucas' 'miravalle'
 'altos del poblado' 'manrique central no.2' 'el corazon'
 'bello horizonte' 'la palma' 'barrio de jesus' 'diego echavarria'
 'el pinal' 'las playas' 'la oculta' 'la pradera' 'el triunfo'
 'las violetas' 'mirador del doce' 'san pablo' 'las lomas no.2'
 'santa lucia' 'suburbano pedregal alto' 'asomadera no. 3' 'bombona no.1'
 'betania' 'facultad veterinaria y zootecnia u.de.a.' 'andalucia'
 'villa niza' 'carpinelo' 'el progreso no.2' 'santa teresita'
 'suburbano altavista' 'suburbano la loma' 'b. cerro  el volador'
 'aldea pablo vi' 'bombona no. 2' 'barrio cristobal' 'la loma oriental'
 'villa liliam' 'villa turbay' 'calasanz parte alta'
 'el nogal-los almendros' 'u.p.b.' 'oriente' 'santa rosa de lima'
 'santo domingo savio no. 2' 'la milagrosa' 'blanquizal' 'plaza de ferias'
 'area de expansion san antonio de prado' 'buga patio bonito' 'pajarito'
 'hospital san vicente de paul' 'fuente clara' 'jardin botanico'
 'la verde' 'el pesebre' 'el compromiso' 'el rodeo'
 'nuevos conquistadores' 'suburbano travesias' 'palenque'
 'trece de noviembre' 'san antonio' 'manrique central no.1'
 'juan pablo ii' 'area de expansion altos de calasanz' 'las mercedes'
 'el socorro' 'pedregal bajo' 'eduardo santos' 'pedregal alto' 'picachito'
 'la avanzada' 'inst' 'suburbano palmitas' 'ocho de marzo'
 'las independencias' 'pablo vi' 'area de expansion altavista'
 'suburbano el plan' 'versalles no.1' 'piedras blancas' 'el picacho'
 'san jose la cima no. 1' '6001' 'suburbano el tesoro'
 'la loma de los bernal' 'la sierra' 'suburbano el llano'
 'santo domingo savio no.1' 'volcana guayabal' 'el corazon el morro'
 '7001' 'san jose la cima no.2' 'yolombo' 'aures no.2' 'barrios de jesus'
 'batallon girardot' 'palmitas sector central' '0'
 'area de expansion belen rincon' 'el vergel' 'suburbano palma patio'
 'san jose de la montaña' 'suburb el plan' 'asomadera no.1'
 'piedras blancas represa' 'la loma' 'potrerito' 'moscu no.2'
 'suburbano la cuchilla' '1018' '1507' '1504' '1408' '1011' '1419' '1503'
 '0907' 'sin inf' '1422' '1020' '0408' '1510' 'santa elena sector central'
 '1114' '0205' '1423' '0402' '0103' '0717' '0505' '1019' '1001' '0509'
 '0301' '1101' '0303' '0409' '0811' '0712' '1603' '1003' '0307' '1204'
 '0208' '0809' '0306' '0906' '1007' '0413' 'suburbano aguas frias' '1103'
 '1108' '1511' '0109' '1206' '0914' '0711' 'san jose del manzanillo'
 '1613' '0813' '0514' '1611' '1306' '0819' '7002'
 'suburbano la palma-el patio' '1012' 'versalles no.2' 'media luna'
 'piedras blancas - matasano' 'suburbano potrerito' 'villa lilliam' 'auc1'
 '9004' 'el plan' 'el uvito' '9086' 'el llano se' 'yarumalito' '0312'
 '1102' '1202' '0302' '1105' '1205' 'el astillero' '0310' '0309' '1211'
 '0803' '0105' '0606' '0716' '1605' '0211' '5002' 'suburbano piedra gorda'
 '0912' 'sin nombre' 'travesias' 'moscu no.1' '0903' '1004' '1015' '1620'
 '1612' '1008' '0815' '0304' '0202' 'boqueron']

In [19]:
#COMUNA
#Denominación con la cual se identifica cada Comuna o Corregimiento. 01:Popular 02:Santa Cruz 03:Manrique 04:Aranjuez 05:Castilla 06:Doce de Octubre 07:Robledo 08:Villa Hermosa 09:Buenos Aires 10:La Candelaria 11:Laureles - Estadio 12:La América 13:San Javier 14:El Poblado 15:Guayabal 16:Belén 50:San Sebastián de Palmitas 60:San Cristobal 70:Altavista 80:San Antonio de Prado 90:Santa Elena 99:Toda la Ciudad
##variable redundante
#ó por o
df["COMUNA"]=df["COMUNA"].apply(lambda x : str(x).lower().replace("\\xf3","o").replace("ó","o"))
#á por a 
df["COMUNA"]=df["COMUNA"].apply(lambda x : str(x).replace("\\xc1","a").replace("\\xe1","a").replace("á","a"))
#é por e 
df["COMUNA"]=df["COMUNA"].apply(lambda x : str(x).replace("\\xe9","e").replace("é","e"))
print((df["COMUNA"].unique()))

['la candelaria' 'santa cruz' 'popular' 'guayabal' 'el poblado'
 'laureles estadio' 'robledo' 'doce de octubre' 'aranjuez' 'buenos aires'
 'castilla' 'corregimiento de san antonio de prado' 'san javier'
 'villa hermosa' 'belen' 'manrique' 'la america'
 'corregimiento de altavista' 'corregimiento de san cristobal'
 'corregimiento de santa elena' 'in'
 'corregimiento de san sebastian de palmitas' 'au']

In [20]:
#LOCATION
#Fuente de información con la cual se realizó la geocodificación
print((df["LOCATION"].head(10)))

0    [-75.5688011014, 6.24312304123]
1    [-75.5693883283, 6.22870030622]
2    [-75.5503911403, 6.29869502502]
3    [-75.5442195069, 6.30019383306]
4     [-75.578180998, 6.21699243701]
5      [-75.561118009, 6.2047775959]
6    [-75.5810144962, 6.24576066323]
7    [-75.5752597216, 6.24685341912]
8    [-75.5624178534, 6.25341454089]
9    [-75.5931430393, 6.27330476643]
Name: LOCATION, dtype: object

In [21]:
#X
#Coordenada X en metros del accidente, en sistema de coordenadas MAGNA Medellin Local
print(df["X"].head(10))

0    834949.69
1    834880.17
2    837004.94
3    837688.53
4    833903.11
5    835788.30
6    833598.49
7    834235.89
8    835659.53
9    832264.64
Name: X, dtype: float64

In [22]:
#Y
#Coordenada Y en metros del accidente, en sistema de coordenadas MAGNA Medellin Local
print(df["Y"].head(10))

0    1182357.34
1    1180762.02
2    1188499.17
3    1188663.05
4    1179469.60
5    1178113.02
6    1182652.97
7    1182772.04
8    1183493.83
9    1185703.90
Name: Y, dtype: float64

In [23]:
#Eliminar duplicados
df.drop_duplicates(inplace=True)
#borrar columnas con datos redudantes o poco aportantes
df.drop(labels=["DIRECCION ENCASILLADA","EXPEDIENTE","FECHA_ACCIDENTES","NRO_RADICADO","COMUNA"],axis=1,inplace=True)

In [24]:
df.to_csv("datosLimpios.csv")
#guardamos los datos en una nueva varible
data=df.copy()
df

,AÑO,CBML,CLASE_ACCIDENTE,DIRECCION,DISEÑO,FECHA_ACCIDENTE,GRAVEDAD_ACCIDENTE,MES,NUMCOMUNA,BARRIO,LOCATION,X,Y
0,2015,1013,caida ocupante,CR 46 CL 43,tramo de via,2015-10-21 05:58:00,con heridos,10,10,barrio colon,"[-75.5688011014, 6.24312304123]",834949.69,1182357.34
1,2015,1020,choque,CR 43 A CL 29,tramo de via,2015-11-05 03:00:00,solo daños,11,10,san diego,"[-75.5693883283, 6.22870030622]",834880.17,1180762.02
2,2015,0205,otro,CR 46 CL 37,tramo de via,2015-10-21 07:40:00,con heridos,10,2,la francia,"[-75.5503911403, 6.29869502502]",837004.94,1188499.17
3,2015,0101,atropello,CR 34 CL 112,tramo de via,2015-10-21 12:00:00,con heridos,10,1,santo domingo savio no. 1,"[-75.5442195069, 6.30019383306]",837688.53,1188663.05
4,2015,1504,choque,CR 50 CL 14,tramo de via,2015-11-03 06:16:00,solo daños,11,15,santa fe,"[-75.578180998, 6.21699243701]",833903.11,1179469.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
270760,2020,1004,caida ocupante,CR 62 CL 59,tramo de via,2020-08-31 18:50:00,con heridos,8,10,el chagualo,"[-75.5731343044, 6.26063534822]",834475.51,1184295.99
270761,2020,1115,otro,CL 50 CR 74,tramo de via,2020-08-31 18:50:00,con heridos,8,11,cuarta brigada,"[-75.5902062951, 6.26040455473]",832585.61,1184275.87
270762,2020,515,choque,CL 80 CR 65,tramo de via,2020-08-31 19:05:00,solo daños,8,5,cementerio universal,"[-75.5735398111, 6.27625838886]",834435.55,1186024.41
270763,2020,207,atropello,CL 104 CR 45,tramo de via,2020-08-31 19:30:00,con heridos,8,2,villa del socorro,"[-75.5515085985, 6.29359892373]",836879.66,1187935.77
270764,2020,303,atropello,CR 44 CL 79,lote o predio,2020-08-31 21:45:00,con heridos,8,3,campo valdes no. 2,"[-75.5533856947, 6.2717784831]",836665.08,1185522.50

In [25]:
#df=pd.read_csv("datosLimpios.csv")

## 1 - Entrenamiento de un modelo predictivo
Se deberá construir un modelo que permita predecir la accidentalidad por tipo de accidente a nivel semanal, mensual y diario. Para esto se deberán considerar fechas especiales.

In [26]:
df=data
df["DIA"]=df["FECHA_ACCIDENTE"].apply(lambda x: x.date())
df=df.groupby(["DIA","CLASE_ACCIDENTE","NUMCOMUNA"]).count()
df.reset_index(inplace=True)
df["CANTIDAD"]=df["AÑO"]
df=df[["DIA","CLASE_ACCIDENTE","CANTIDAD","NUMCOMUNA"]]
df

              DIA CLASE_ACCIDENTE  CANTIDAD NUMCOMUNA
0      2014-07-04          choque         8        10
1      2014-07-04          choque         4        11
2      2014-07-04          choque         1        12
3      2014-07-04          choque         2        14
4      2014-07-04          choque         2        15
...           ...             ...       ...       ...
85313  2020-08-31     volcamiento         2        14
85314  2020-08-31     volcamiento         1        15
85315  2020-08-31     volcamiento         1        16
85316  2020-08-31     volcamiento         1         2
85317  2020-08-31     volcamiento         1         9

[85318 rows x 4 columns]

In [27]:
import holidays_co as co
from datetime import timedelta
#dia_festivo 1 si 0 no
df["dia_festivo".upper()]=df["DIA"].apply(lambda x : str(co.is_holiday_date(x)))
#sigiente_dia_festivo
#df["sigiente_dia_festivo".upper()]=df["DIA"].apply(lambda x : int(co.is_holiday_date(x+timedelta(days=1))))
#anterior_dia_festivo
#df["anterior_dia_festivo".upper()]=df["DIA"].apply(lambda x : int(co.is_holiday_date(x-timedelta(days=1))))
df["AÑO"]=df["DIA"].apply(lambda x : pd.Timestamp(x).year-2014)
df["t"]=df["DIA"].apply(lambda x : (pd.Timestamp(x).year-2014)*12+pd.Timestamp(x).month)
df["dia_de_la_semana".upper()]=df["dia".upper()].apply(lambda x : str(pd.Timestamp(x).day_of_week))
min=df["DIA"].min()
#df["dia_total".upper()]=df["dia".upper()].apply(lambda x : (x-min).days+1)
df["MES"]=df["DIA"].apply(lambda x : str(pd.Timestamp(x).month))
df["dia_del_mes".upper()]=df["dia".upper()].apply(lambda x :str( pd.Timestamp(x).day))

dfaux=df.copy()
df.head(10)

,DIA,CLASE_ACCIDENTE,CANTIDAD,NUMCOMUNA,DIA_FESTIVO,AÑO,t,DIA_DE_LA_SEMANA,MES,DIA_DEL_MES
0,2014-07-04,choque,8,10,False,0,7,4,7,4
1,2014-07-04,choque,4,11,False,0,7,4,7,4
2,2014-07-04,choque,1,12,False,0,7,4,7,4
3,2014-07-04,choque,2,14,False,0,7,4,7,4
4,2014-07-04,choque,2,15,False,0,7,4,7,4
5,2014-07-04,choque,2,16,False,0,7,4,7,4
6,2014-07-04,choque,3,7,False,0,7,4,7,4
7,2014-07-05,atropello,2,1,False,0,7,5,7,5
8,2014-07-05,atropello,3,10,False,0,7,5,7,5
9,2014-07-05,atropello,2,12,False,0,7,5,7,5

Sea X el con junto de parametros

### Entrenamiento y validación
Los modelos predictivos se deberán construir con los datos de los años 2014, 2015, 2016, 2018. Se usan los accidentes del año 2019 y 2020 (¡alerta!) para validar los modelos.
Se deberá analizar el comportamiento del modelo predictivo en los años 2021 y 2022 y explicar las posibles desviaciones.

In [28]:
dfaux=df.copy()
#dfaux=pd.concat([dfaux,pd.get_dummies(dfaux.pop("NUMCOMUNA"),drop_first=True)], axis=1)
train=dfaux[(dfaux["AÑO"]) <5].drop(["DIA"],axis=1).drop(["AÑO"],axis=1)
test=dfaux.drop(train.index).drop(["DIA"],axis=1).drop(["AÑO"],axis=1)
X_train=train.copy()
Y_train=X_train.pop("CANTIDAD")
X_test=test.copy()
Y_test=X_test.pop("CANTIDAD")
print(sorted(X_train.NUMCOMUNA.unique()))
print(sorted(X_test.NUMCOMUNA.unique()))

['1', '10', '11', '12', '13', '14', '15', '16', '2', '3', '4', '5', '6', '7', '8', '9']
['1', '10', '11', '12', '13', '14', '15', '16', '2', '3', '4', '5', '6', '7', '8', '9']

In [29]:
X_train=pd.get_dummies(X_train,drop_first=True)
X_test=pd.get_dummies(X_test,drop_first=True)

In [30]:
train_stats = train.describe()
train_stats.pop("CANTIDAD")
train_stats = train_stats.transpose()
train_stats

     count       mean        std  min   25%   50%   75%   max
t  63232.0  33.177584  15.472609  7.0  20.0  33.0  46.0  60.0

In [31]:
def norm(x):
  return (x - train_stats['mean']) / train_stats['std']
normed_train_data = (X_train)
normed_test_data = (Y_test)

In [32]:
def build_model():
    model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=[len(X_train.keys())]),
    layers.Dropout(0.2),
    layers.Dense(64, activation='relu'),
    layers.Dense(1)
    ])
    optimizer = tf.keras.optimizers.RMSprop(0.001)
    optimizer2 = tf.keras.optimizers.Adam(learning_rate=0.001)
    model.compile(loss='mean_absolute_percentage_error',
                optimizer=optimizer2,
                metrics=['mae', 'mse',"mean_absolute_percentage_error"])
    return model

In [33]:
model = build_model()
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                4480

 dropout (Dropout)           (None, 64)                0

 dense_1 (Dense)             (None, 64)                4160

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 8,705
Trainable params: 8,705
Non-trainable params: 0
_________________________________________________________________

In [34]:
example_batch = normed_train_data[:10]
example_result = model.predict(example_batch)
example_result

array([[-0.07980476],
       [-0.01916621],
       [-0.03540402],
       [ 0.03455703],
       [ 0.01341221],
       [-0.03307261],
       [-0.07627783],
       [-0.06333352],
       [-0.13561878],
       [-0.07888088]], dtype=float32)

In [35]:
class PrintDot(keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs):
    if epoch % 50 == 0: print("\n","epoca",epoch,logs)
    print('.', end='')

EPOCHS = 250

history = model.fit(
  normed_train_data, Y_train,
  epochs=EPOCHS, validation_data=(X_test,Y_test))

Epoch 1/250
1976/1976 [==============================] - 8s 4ms/step - loss: 37.5779 - mae: 1.8747 - mse: 16.4408 - mean_absolute_percentage_error: 37.5779 - val_loss: 30.7828 - val_mae: 1.5226 - val_mse: 12.5123 - val_mean_absolute_percentage_error: 30.7828
Epoch 2/250
1976/1976 [==============================] - 7s 4ms/step - loss: 31.2139 - mae: 1.5805 - mse: 12.3802 - mean_absolute_percentage_error: 31.2139 - val_loss: 32.1722 - val_mae: 1.6795 - val_mse: 13.6843 - val_mean_absolute_percentage_error: 32.1722
Epoch 3/250
1976/1976 [==============================] - 7s 4ms/step - loss: 29.1559 - mae: 1.3560 - mse: 8.4464 - mean_absolute_percentage_error: 29.1559 - val_loss: 29.5613 - val_mae: 1.2466 - val_mse: 7.4074 - val_mean_absolute_percentage_error: 29.5613
Epoch 4/250
1976/1976 [==============================] - 7s 3ms/step - loss: 28.3966 - mae: 1.2903 - mse: 7.3186 - mean_absolute_percentage_error: 28.3966 - val_loss: 30.7608 - val_mae: 1.1374 - val_mse: 5.5502 - val_mean_absolute_percentage_error: 30.7608
Epoch 5/250
1976/1976 [==============================] - 7s 4ms/step - loss: 27.9770 - mae: 1.2362 - mse: 6.4386 - mean_absolute_percentage_error: 27.9770 - val_loss: 39.9504 - val_mae: 1.1116 - val_mse: 4.6780 - val_mean_absolute_percentage_error: 39.9504
Epoch 6/250
1976/1976 [==============================] - 7s 3ms/step - loss: 27.6386 - mae: 1.2089 - mse: 6.0273 - mean_absolute_percentage_error: 27.6386 - val_loss: 29.0485 - val_mae: 1.1587 - val_mse: 5.9161 - val_mean_absolute_percentage_error: 29.0485
Epoch 7/250
1976/1976 [==============================] - 7s 4ms/step - loss: 27.3922 - mae: 1.1790 - mse: 5.5262 - mean_absolute_percentage_error: 27.3922 - val_loss: 34.8222 - val_mae: 1.0791 - val_mse: 4.6786 - val_mean_absolute_percentage_error: 34.8222
Epoch 8/250
1976/1976 [==============================] - 7s 3ms/step - loss: 27.3374 - mae: 1.1687 - mse: 5.3573 - mean_absolute_percentage_error: 27.3374 - val_loss: 29.7355 - val_mae: 1.1272 - val_mse: 4.9396 - val_mean_absolute_percentage_error: 29.7355
Epoch 9/250
1976/1976 [==============================] - 6s 3ms/step - loss: 27.1372 - mae: 1.1495 - mse: 5.0716 - mean_absolute_percentage_error: 27.1372 - val_loss: 29.0217 - val_mae: 1.1797 - val_mse: 5.9134 - val_mean_absolute_percentage_error: 29.0217
Epoch 10/250
1976/1976 [==============================] - 6s 3ms/step - loss: 26.9957 - mae: 1.1380 - mse: 4.9847 - mean_absolute_percentage_error: 26.9957 - val_loss: 28.8332 - val_mae: 1.2414 - val_mse: 6.2642 - val_mean_absolute_percentage_error: 28.8332
Epoch 11/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.8892 - mae: 1.1297 - mse: 4.8822 - mean_absolute_percentage_error: 26.8892 - val_loss: 32.4996 - val_mae: 1.0694 - val_mse: 4.3681 - val_mean_absolute_percentage_error: 32.4996
Epoch 12/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.8432 - mae: 1.1255 - mse: 4.8168 - mean_absolute_percentage_error: 26.8432 - val_loss: 29.3836 - val_mae: 1.1257 - val_mse: 5.0440 - val_mean_absolute_percentage_error: 29.3836
Epoch 13/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.7617 - mae: 1.1183 - mse: 4.6901 - mean_absolute_percentage_error: 26.7617 - val_loss: 31.9657 - val_mae: 1.0661 - val_mse: 4.2699 - val_mean_absolute_percentage_error: 31.9657
Epoch 14/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.6808 - mae: 1.1128 - mse: 4.6906 - mean_absolute_percentage_error: 26.6808 - val_loss: 29.3591 - val_mae: 1.1871 - val_mse: 5.8815 - val_mean_absolute_percentage_error: 29.3591
Epoch 15/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.6837 - mae: 1.1148 - mse: 4.6569 - mean_absolute_percentage_error: 26.6837 - val_loss: 29.6676 - val_mae: 1.1866 - val_mse: 5.5712 - val_mean_absolute_percentage_error: 29.6676
Epoch 16/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.6159 - mae: 1.1046 - mse: 4.5355 - mean_absolute_percentage_error: 26.6159 - val_loss: 28.8149 - val_mae: 1.2577 - val_mse: 6.7279 - val_mean_absolute_percentage_error: 28.8149
Epoch 17/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.6863 - mae: 1.1107 - mse: 4.5729 - mean_absolute_percentage_error: 26.6863 - val_loss: 29.8382 - val_mae: 1.1960 - val_mse: 5.6516 - val_mean_absolute_percentage_error: 29.8382
Epoch 18/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.5588 - mae: 1.0970 - mse: 4.4512 - mean_absolute_percentage_error: 26.5588 - val_loss: 29.1709 - val_mae: 1.2003 - val_mse: 6.0703 - val_mean_absolute_percentage_error: 29.1709
Epoch 19/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.6092 - mae: 1.1065 - mse: 4.5635 - mean_absolute_percentage_error: 26.6092 - val_loss: 30.9926 - val_mae: 1.0835 - val_mse: 4.6866 - val_mean_absolute_percentage_error: 30.9926
Epoch 20/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.4779 - mae: 1.0986 - mse: 4.5128 - mean_absolute_percentage_error: 26.4779 - val_loss: 29.5367 - val_mae: 1.1049 - val_mse: 4.7780 - val_mean_absolute_percentage_error: 29.5367
Epoch 21/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.5050 - mae: 1.0965 - mse: 4.4511 - mean_absolute_percentage_error: 26.5050 - val_loss: 29.4592 - val_mae: 1.1341 - val_mse: 5.1700 - val_mean_absolute_percentage_error: 29.4592
Epoch 22/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.4682 - mae: 1.0923 - mse: 4.3927 - mean_absolute_percentage_error: 26.4682 - val_loss: 33.4905 - val_mae: 1.0594 - val_mse: 4.2171 - val_mean_absolute_percentage_error: 33.4905
Epoch 23/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.4157 - mae: 1.0863 - mse: 4.3234 - mean_absolute_percentage_error: 26.4157 - val_loss: 30.1173 - val_mae: 1.1289 - val_mse: 4.8100 - val_mean_absolute_percentage_error: 30.1173
Epoch 24/250
1976/1976 [==============================] - 6s 3ms/step - loss: 26.4052 - mae: 1.0885 - mse: 4.3466 - mean_absolute_percentage_error: 26.4052 - val_loss: 30.2715 - val_mae: 1.0878 - val_mse: 4.5703 - val_mean_absolute_percentage_error: 30.2715
Epoch 25/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.3975 - mae: 1.0882 - mse: 4.3328 - mean_absolute_percentage_error: 26.3975 - val_loss: 29.4470 - val_mae: 1.1439 - val_mse: 5.3906 - val_mean_absolute_percentage_error: 29.4470
Epoch 26/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.3861 - mae: 1.0892 - mse: 4.3603 - mean_absolute_percentage_error: 26.3861 - val_loss: 28.9819 - val_mae: 1.1518 - val_mse: 5.4143 - val_mean_absolute_percentage_error: 28.9819
Epoch 27/250
1976/1976 [==============================] - 7s 4ms/step - loss: 26.2976 - mae: 1.0871 - mse: 4.3672 - mean_absolute_percentage_error: 26.2976 - val_loss: 32.0211 - val_mae: 1.0822 - val_mse: 4.4000 - val_mean_absolute_percentage_error: 32.0211
Epoch 28/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.2795 - mae: 1.0795 - mse: 4.2814 - mean_absolute_percentage_error: 26.2795 - val_loss: 29.3966 - val_mae: 1.1201 - val_mse: 4.9198 - val_mean_absolute_percentage_error: 29.3966
Epoch 29/250
1976/1976 [==============================] - 6s 3ms/step - loss: 26.3026 - mae: 1.0793 - mse: 4.2274 - mean_absolute_percentage_error: 26.3026 - val_loss: 29.5504 - val_mae: 1.1328 - val_mse: 5.3324 - val_mean_absolute_percentage_error: 29.5504
Epoch 30/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.3089 - mae: 1.0822 - mse: 4.2848 - mean_absolute_percentage_error: 26.3089 - val_loss: 28.9031 - val_mae: 1.1875 - val_mse: 5.7344 - val_mean_absolute_percentage_error: 28.9031
Epoch 31/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.2205 - mae: 1.0775 - mse: 4.2388 - mean_absolute_percentage_error: 26.2205 - val_loss: 28.6909 - val_mae: 1.2412 - val_mse: 6.6421 - val_mean_absolute_percentage_error: 28.6909
Epoch 32/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.1704 - mae: 1.0774 - mse: 4.2299 - mean_absolute_percentage_error: 26.1704 - val_loss: 29.3353 - val_mae: 1.1158 - val_mse: 4.9402 - val_mean_absolute_percentage_error: 29.3353

Epoch 33/250
1976/1976 [==============================] - 7s 3ms/step - loss: 26.1730 - mae: 1.0714 - mse: 4.1752 - mean_absolute_percentage_error: 26.1730 - val_loss: 29.0150 - val_mae: 1.1544 - val_mse: 5.3527 - val_mean_absolute_percentage_error: 29.0150
Epoch 34/250
1976/1976 [==============================] - 6s 3ms/step - loss: 26.1678 - mae: 1.0782 - mse: 4.2682 - mean_absolute_percentage_error: 26.1678 - val_loss: 31.4225 - val_mae: 1.0831 - val_mse: 4.4157 - val_mean_absolute_percentage_error: 31.4225
Epoch 35/250
1976/1976 [==============================] - 6s 3ms/step - loss: 26.2133 - mae: 1.0764 - mse: 4.2117 - mean_absolute_percentage_error: 26.2133 - val_loss: 29.4298 - val_mae: 1.1290 - val_mse: 4.9673 - val_mean_absolute_percentage_error: 29.4298
Epoch 36/250
1976/1976 [==============================] - 6s 3ms/step - loss: 26.1912 - mae: 1.0731 - mse: 4.1825 - mean_absolute_percentage_error: 26.1912 - val_loss: 32.4042 - val_mae: 1.0858 - val_mse: 4.6559 - val_mean_absolute_percentage_error: 32.4042
Epoch 37/250
1976/1976 [==============================] - 6s 3ms/step - loss: 26.0503 - mae: 1.0645 - mse: 4.1023 - mean_absolute_percentage_error: 26.0503 - val_loss: 34.5551 - val_mae: 1.0894 - val_mse: 4.4209 - val_mean_absolute_percentage_error: 34.5551
Epoch 38/250
  36/1976 [..............................] - ETA: 5s - loss: 26.7911 - mae: 1.1032 - mse: 4.1867 - mean_absolute_percentage_error: 26.7911

KeyboardInterrupt:

In [ ]:
hist = pd.DataFrame(history.history)
hist['epoch'] = history.epoch
hist.tail()
hist.sort_values(by=['mean_absolute_percentage_error', 'val_mean_absolute_percentage_error']).head()

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
# Evalúe el modelo con los conjuntos de entrenamiento y prueba.
Y_train_pred = model.predict(X_train)
Y_test_pred = model.predict(X_test)

    # Compute el error cuadratico medio de entrenamiento y prueba. Redondee los
    # valores a dos decimales.

mse_train = r2_score(
        Y_train,
        Y_train_pred,
    ).round(2)

mse_test = r2_score(
        Y_test,
        Y_test_pred,
    ).round(2)

In [ ]:
print(mse_test,mse_train)

In [ ]:
def plot_history(history):
  hist = pd.DataFrame(history.history)
  hist['epoch'] = history.epoch

  plt.figure()
  plt.xlabel('Epoch')
  plt.ylabel('Mean Abs Error [MPG]')
  plt.plot(hist['epoch'], hist['mae'],
           label='Train Error')
  plt.plot(hist['epoch'], hist['val_mae'],
           label = 'Val Error')
  #plt.ylim([0,5])
  plt.legend()

  plt.figure()
  plt.xlabel('Epoch')
  plt.ylabel('Mean Square Error [$MPG^2$]')
  plt.plot(hist['epoch'], hist['mse'],
           label='Train Error')
  plt.plot(hist['epoch'], hist['val_mse'],
           label = 'Val Error')
  #plt.ylim([0,20])
  plt.legend()
  plt.figure()
  plt.xlabel('Epoch')
  plt.ylabel('mean_absolute_percentage_error')
  plt.plot(hist['epoch'], hist['mean_absolute_percentage_error'],
           label='Train Error')
  plt.plot(hist['epoch'], hist['val_mean_absolute_percentage_error'],
           label = 'Val Error')
  #plt.ylim([0,20])
  plt.legend()
  plt.show()


plot_history(history)

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error,median_absolute_error
mae_train = median_absolute_error(
        Y_train,
        Y_train_pred,
    ).round(2)

mae_test = median_absolute_error(
        Y_test,
        Y_test_pred,
    ).round(2)

In [ ]:
print("entrenamiento:",mae_train,"validacion:",mae_test)

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error,median_absolute_error
mape_train = mean_absolute_percentage_error(
        Y_train,
        Y_train_pred,
    ).round(2)

mape_test = mean_absolute_percentage_error(
        Y_test,
        Y_test_pred,
    ).round(2)

In [ ]:
print("entrenamiento:",mape_train,"validacion:",mape_test)

In [ ]:
resultTest=pd.DataFrame()
resultTest["esperado"]=Y_train
resultTest["predicho"]=Y_train_pred

In [ ]:
resultTest.sample(10)

In [ ]:
#model.save('modelo-V1.h5')
#optimarzer sin tener en cuenta el año

In [ ]:
#t=year
#model.save('modelo-V2.h5')
#optimarzer teniendo en cuenta el año 250 epocas
#entrenamiento: 0.19 validacion: 0.26
#model.save('modelo-V2_1.h5')
#entrenamiento: 0.17 validacion: 0.28
# 500 epocas

In [ ]:
from tensorflow.keras.models import load_model
#t=mounths
#250
#entrenamiento: 0.19 validacion: 0.15
#model.save('modelo-V3.h5')
#500
#entrenamiento: 0.17 validacion: 0.18
#model.save('modelo-V3_1.h5')
#model=load_model('modelo-V3.h5')